.playlist-entry {
  --thumbnail-size: 150px;

  display: flex;
  border-radius: 8px;
  background-color: var(--color-grey-70);
  border: 1px solid var(--color-white-100-4);
  box-shadow:
    1px 2px 2px 0 var(--color-black-100-4),
    2px 4px 4px 0 var(--color-black-100-2),
    4px 8px 8px 0 var(--color-black-100-1);

  @media (max-width: 428px) {
    --thumbnail-size: 108px;

    & .playlist-entry-content {
      padding-top: var(--space-md);
      padding-bottom: var(--space-sm);
    }

    & .playlist-entry-title {
      font-size: 14px;
    }

    & .playlist-entry-bottom {
      padding-top: var(--space-sm);
    }

    & .playlist-entry-title-input {
      padding: var(--space-sm) var(--space-lg);
    }
  }
}

.playlist-entry-play-btn {
  z-index: 2;
  position: absolute;
  bottom: var(--space-md);
  right: var(--space-md);
  transform: translateY(var(--space-md)) scale(0.9);
  opacity: 0%;
  padding: 0;
  color: var(--color-white);
  transition: 0.2s opacity, 0.2s transform;

  &:hover,
  &:focus-visible {
    --background-color: transparent;
  }
}

.playlist-entry-thumbnail-image-container {
  overflow: hidden;
  position: relative;
}

.playlist-entry-thumbnail {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  user-select: none;

  &.t-1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  &.t-2 {
    grid-template-rows: 1fr;
  }

  &.t-3 .playlist-entry-thumbnail-image-container:first-of-type {
    grid-column: 1 / 3;

    & .artwork {
      top: 50%;
      left: auto;
      width: 100%;
      height: auto;
      transform: translateY(-50%);
    }
  }

  &::after {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    background-image: linear-gradient(transparent, rgb(0 0 0 / 10%), var(--color-grey-80));
    opacity: 0%;
    transition: 0.2s opacity;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.playlist-entry-thumbnail-container {
  position: relative;

  &:hover,
  &:focus-within {
    & .playlist-entry-thumbnail::after {
      opacity: 100%;
    }

    & .playlist-entry-play-btn {
      opacity: 100%;
      transform: none;

      &:hover,
      &:focus-visible {
        transform: scale(1.12);
      }
    }
  }
}

.playlist-entry-play-btn-icon {
  width: 40px;
  height: 40px;
}

.playlist-entry-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: var(--space-lg) var(--space-md) var(--space-md) var(--space-md);
}

.playlist-entry-title {
  margin-left: var(--space-sm);
  font-size: var(--text-md);
}

.playlist-entry-title-input {
  padding: var(--space-md) var(--space-lg);
  background-color: var(--color-grey-60);
}

.playlist-entry-bottom {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding-top: var(--space-md);
  padding-left: var(--space-sm);
  border-top: 1px solid var(--color-white-100-4);
}

.playlist-entry-bottom-item {
  display: flex;
  align-items: center;
  font-size: var(--text-xs);
  color: var(--color-white-10);

  &:not(:last-of-type)::after {
    content: "•";
    margin-left: var(--space-md);
    margin-right: var(--space-md);

    @media (max-width: 428px) {
      margin-left: var(--space-sm);
      margin-right: var(--space-sm);
    }
  }
}

.playlist-entry-bottom-icon {
  width: 20px;
  height: 20px;
}

.playlist-entry-dropdown-container {
  margin-left: auto;

  @media (max-width: 428px) {
    & .dropdown-toggle-btn-icon {
      width: 20px;
      height: 20px;
    }
  }
}

.playlist-entry-dropdown-setting {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
  padding: var(--space-lg);
  border-top: 1px solid var(--color-white-100-4);
  border-bottom: 1px solid var(--color-white-100-4);
  font-size: var(--text-sm);
  color: var(--color-white-10);

  & .checkbox {
    background-color: var(--color-grey-50);
  }
}
