.playlist-view {
  position: relative;
  overflow-y: auto;
  will-change: scroll-position;
  backface-visibility: hidden;
  height: calc(100% - 48px);
}

.playlist-view-header {
  user-select: none;
  z-index: 2;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: var(--space-md);
  height: 40px;
  padding-left: var(--space-lg);
  padding-right: var(--space-sm);
  box-shadow:
    0 2px 2px 0 var(--color-black-100-4),
    0 4px 4px 0 var(--color-black-100-2),
    0 8px 8px 0 var(--color-black-100-1);
  background-color: var(--color-grey-70);
  font-size: var(--text-xs);
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--color-white-10);
}

.artwork {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  pointer-events: none;
}

.artwork-btn {
  --color: var(--color-white);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0%;
  width: 50%;
  height: 50%;
  padding: 0;
  transition: 0.2s transform;

  &:hover,
  &:focus-visible {
    --background-color: transparent;

    opacity: 100%;
    transform: translate(-50%, -50%) scale(1.08);
  }

  &:active {
    transform: translate(-50%, -50%) scale(1.04);
  }
}

.compact-items {
  padding: var(--space-sm);
}

.compact-item {
  display: flex;
  gap: var(--space-md);
  align-items: center;
  height: 48px;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
  padding-left: var(--space-md);
  border-radius: 6px;
  color: var(--color-white-10);
  font-size: var(--text-sm);

  &:not(:last-of-type) {
    margin-bottom: var(--space-xs);
  }

  & .artwork-btn {
    width: 32px;
    height: 32px;
  }
}

.track-index {
  color: var(--color-white-10);
  font-size: var(--text-xs);
  font-weight: 500;
}

.track {
  user-select: none;
  cursor: default;

  &.playing {
    color: var(--color-white);
    font-weight: 500;
  }

  &.selected {
    background-color: var(--color-grey-60);
  }

  &.hidden {
    display: none;
  }

  &:not(.disabled):is(.playing, :hover, :focus-within) {
    & .track-index {
      opacity: 0%;
    }

    & .artwork-btn {
      opacity: 100%;
    }

    &:not(.compact-item) .artwork {
      opacity: 40%;
    }
  }
}

.artwork-container {
  overflow-x: hidden;
  position: relative;
  flex-shrink: 0;
  height: 100%;
  aspect-ratio: 1;
  margin-right: var(--space-md);
  border-radius: 8px;
}

.artwork-btn-icon {
  width: var(--button-icon-size, 100%);
  height: var(--button-icon-size, 100%);
}

.track-info {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;

  @media (width < 428px) {
    .track-title.multiline {
      display: block;
      -webkit-box-orient: unset;
      -webkit-line-clamp: unset;
      white-space: nowrap;
    }
  }
}

.track-info-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  font-size: var(--text-sm);
  color: var(--color-white-10);
}

.track-title {
  margin-bottom: var(--space-sm);
  color: var(--color-white);

  &.multiline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
  }
}

.track-info-item-duration {
  margin-top: var(--space-sm);
  color: var(--color-white-10);
  font-size: var(--text-sm);
}

.track-first-col {
  position: relative;
  flex-basis: 36px;
  text-align: center;
}

.track-index-placeholder {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--color-grey-70);
}

.track-col {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.track-col-inner {
  width: 36%;
  height: 14px;
  border-radius: 999px;
  background-color: var(--color-grey-70);
}

.track-last-col {
  flex-basis: 80px;
  text-align: center;
}

.track-duration-placeholder {
  width: 32%;
  height: 14px;
  margin: 0 auto;
  border-radius: 999px;
  background-color: var(--color-grey-70);
}

.compact-item-second-col {
  padding-left: 52px;
  flex: 1;
}

.compact-item-thumbnail {
  margin-right: 0;
  border-radius: 6px;
  background-color: var(--color-grey-70);
}

.compact-item-title-placeholder {
  width: 40%;
  height: 16px;
  border-radius: 999px;
  background-color: var(--color-grey-70);
}

.compact-item-artist-placeholder {
  width: 28%;
  height: 12px;
  margin-top: var(--space-md);
  border-radius: 999px;
  background-color: var(--color-grey-70);
}

.grid-items {
  --min-grid-item-width: 400px;

  display: grid;
  gap: var(--space-sm);
  grid-template-columns: repeat(auto-fill, minmax(var(--min-grid-item-width), 1fr));
  align-content: flex-start;
  padding: var(--space-md);

  @media (max-width: 428px) {
    --min-grid-item-width: 332px;
  }
}

.grid-item {
  display: flex;
  align-items: center;
  height: 88px;
  padding: var(--space-sm) var(--space-md) var(--space-sm) var(--space-sm);
  border-radius: 8px;

  @media (max-width: 428px) {
    height: 72px;
  }
}

.grid-item-thumbnail {
  background-color: var(--color-grey-70);
}

.grid-item-info-placeholder {
  width: 100%;
}

.grid-item-title-placeholder {
  width: 72%;
  height: 16px;
  border-radius: 999px;
  background-color: var(--color-grey-70);
}

.grid-item-artist-placeholder {
  width: 48%;
  height: 12px;
  margin-top: var(--space-md);
  border-radius: 999px;
  background-color: var(--color-grey-70);
}

.grid-item-duration-placeholder {
  width: 8%;
  height: 12px;
  margin-top: var(--space-lg);
  border-radius: 999px;
  background-color: var(--color-grey-70);
}
