.youtube-player {
  opacity: 0%;
  transform: scale(0.94);
  width: auto;
  height: 100%;
  aspect-ratio: 16 / 9;
  transition: 0.2s opacity, 0.2s transform;
}

.youtube-player-container {
  opacity: 0%;
  visibility: hidden;

  &.visible {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 100%;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72%;

    & .youtube-player {
      opacity: 100%;
      transform: scale(1);
    }

    &.maximized {
      height: calc(100% - var(--controls-height));

      & .youtube-player {
        width: 100%;
      }
    }

    &:not(.maximized) {
      &.shift {
        width: calc(100% - var(--queue-width));

        @media (max-width: 1024px) {
          width: 100%;
        }
      }

      & .youtube-player {
        max-width: calc(100% - 64px);
        max-height: calc(80% - 64px);
        border-radius: 8px;
        box-shadow:
          1px 2px 2px var(--color-black-100-16),
          2px 4px 4px var(--color-black-100-8),
          4px 8px 8px var(--color-black-100-4),
          8px 16px 16px var(--color-black-100-2);
        background-color: var(--color-black-100-16);
      }
    }
  }
}
