*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: $color1;
    scrollbar-face-color: transparent;
    scrollbar-track-color: $color1;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

input {
    @extend %default-input-styles;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $color1;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.yt-player-container {
    display: none;

    &.visible {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparentize($color2, 0.2);

        &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
        }

        .btn {
            z-index: 1;
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }
}

// SoundCloud player container
#flashAudioObject-container {
    display: none;
}

%default-input-styles {
    padding: 4px 6px;
    border: none;
    background-color: $color1;
    font-size: 14px;
    color: $base-text-color;

    &:focus {
        outline: 1px solid darken($brand-color, 32%);
        outline-offset: 0;
    }
}

.btn {
    @extend %default-input-styles;

    transition: all 0.1s;

    &:hover {
        color: $brand-color;
        cursor: pointer;
    }
    &.btn-dark {
        background-color: $color2;
    }
    &.active {
        color: $brand-color;

        &.btn-light {
            background-color: $color2;
        }
        &.btn-dark {
            background-color: $color1;
        }
    }
}

.btn-icon {
    @include svg-container {
        width: 20px;
        height: 20px;
    }
}

.player {
    position: relative;
    display: flex;
    height: calc(100% - 36px);

    @include for-phone-only {
        flex-direction: column;
        height: calc(100% - 48px);
    }
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 160px);

    @include for-phone-only {
        width: 100%;
        height: calc(100% - 40px);
    }
}
