*, *:after, *:before {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-color: $color1;
    scrollbar-face-color: $color1;
    scrollbar-track-color: $color3;
}
a {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: $color3;
}
::-webkit-scrollbar-track {
    background: $color1;
}

#yt-player {
    display: none;
}

// SoundCloud player container
#flashAudioObject-container {
    display: none;
}

%text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.input {
    padding: $spacing-half 6px;
    border: none;
    border-radius: $spacing-half;
    background-color: $color1;
    font-size: 16px;
    color: $base-text-color;
}
.btn {
    @extend .input;

    transition: all .1s;

    &:hover { color: $brand-color; }
}
.font-btn {
    @extend .btn;

    display: inline-block;
    background-color: transparent;

    &.active {
        background-color: $color3;
        color: $brand-color;
    }
}
.main {
    float: right;
    width: calc(100% - 160px);
    height: 100%;
}
.tab-container {
    height: calc(100% - 36px);
    color: $base-text-color;
}
.tab {
    display: none;
    height: 100%;

    &.active { display: block; }
}
.tab-content {
    height: 100%;
    background-color: $color2;
}
.tab-title {
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
.tab-404-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2, h3 { margin-top: 0; }
    h2 {
        margin-bottom: 0;
        font-size: 64px;
    }
}
