*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: $color1;
    scrollbar-face-color: transparent;
    scrollbar-track-color: $color1;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

input {
    @extend %default-input-styles;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $color1;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.yt-player-container {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;

    &.visible {
        display: block;
    }

    .btn {
        z-index: 1;
        position: absolute;
        top: 8px;
        right: 8px;
    }
}

.yt-player {
    width: 100%;
    height: 100%;
}

// SoundCloud player container
#flashAudioObject-container {
    display: none;
}

%default-input-styles {
    padding: 4px 6px;
    border: none;
    background-color: $color1;
    font-size: 14px;
    color: $base-text-color;

    &:focus {
        outline: 1px solid darken($brand-color, 32%);
        outline-offset: 0;
    }
}

.btn {
    @extend %default-input-styles;

    transition: all 0.1s;

    &:hover {
        color: $brand-color;
        cursor: pointer;
    }

    &.btn-dark {
        background-color: $color2;
    }

    &.active {
        color: $brand-color;

        &.btn-light {
            background-color: $color2;
        }

        &.btn-dark {
            background-color: $color1;
        }
    }
}

.btn-icon {
    @include svg-container {
        width: 20px;
        height: 20px;
    }
}

.player {
    overflow: hidden;
    height: calc(100% - 36px);

    @include breakpoint-smallest {
        height: calc(100% - 48px);
    }
}

.main {
    position: relative;
    float: right;
    width: calc(100% - 200px);
    height: 100%;
    transition: height 0.2s;

    @include breakpoint-small {
        width: 100%;
        height: calc(100% - 44px);
    }
}

.panel {
    z-index: 2;
    position: absolute;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background-color: $color1;
}
