@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    fill: currentColor;

    svg {
        @content;
    }
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
