.playlist-add-options {
    display: flex;
    align-items: flex-start;
    height: 124px;
}
.playlist-add-option {
    flex-basis: 50%;
    text-align: center;
}
.playlist-provider-container {
    display: flex;
    justify-content: center;
}
.playlist-provider {
    user-select: none;
    width: 100px;
    padding: 4px;
    margin-right: 8px;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    color: $base-text-color;
    cursor: pointer;

    &:hover {
        color: $brand-color;
    }
    &:last-of-type {
        margin-right: 0;
    }
    &.selected {
        background-color: $color1;
    }
    div {
        user-select: none;
    }
}
.playlist-provider-logo {
    max-width: 100%;
}
.form-container {
    display: none;
    margin-top: 4px;
    font-size: 14px;

    &.visible {
        display: block;
    }
}
.btn-content.hidden {
    display: none;
}
.local-btn-icon {
    font-size: 59px;
}
.local-btn-title {
    font-size: 14px;
}
.file-chooser {
    display: none;
}
.file-progress {
    appearance: none;
    visibility: hidden;
    opacity: 0;
    width: 300px;
    height: 26px;
    margin-top: 4px;
    transition: all 0.2s;

    &.visible {
        visibility: visible;
        opacity: 1;
    }
    &::-webkit-progress-bar {
        border-radius: 2px;
        background-color: $color1;
    }
    &::-webkit-progress-value {
        border-radius: 2px;
        background-color: $brand-color;
    }
}
.playlist-add-local-notice {
    position: relative;
    top: -24px;
    display: none;
    text-align: center;
    color: $color2;
    font-size: 12px;

    &.visible {
        display: block;
    }
}
.playlist-add-notice {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.playlist-entries {
    margin-top: 16px;
}
.playlist-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-bottom: 1px solid $color1;

    .btn.active {
        background-color: $color1;
    }
}
.playlist-entry-title {
    flex-grow: 1;
    margin-right: 4px;

    &:read-only {
        background-color: transparent;
    }
}
