.list-view-header {
    display: flex;

    // -14px to account for scrollbar
    width: calc(100% - 14px);
    height: 26px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4px;
}
.list-view-header-item {
    flex-basis: 30%;
    padding-left: 4px;
    font-size: 16px;
    color: #888;

    &:last-of-type {
        flex-basis: 10%;
        margin-right: 4px;
    }
}
.list-view {
    user-select: none;
    backface-visibility: hidden;
    overflow-y: scroll;

    // -26px because of .list-view-header
    height: calc(100% - 26px);
}
.list-item {
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid $color1;
    color: $base-text-color;
    cursor: default;

    &:last-of-type {
        border-bottom: none;
    }
    span {
        @extend %text-overflow;

        flex-basis: 30%;
        padding-left: 4px;

        &:last-of-type {
            flex-basis: 10%
        }

    }
}
