.list-view-header {
    user-select: none;
    display: flex;
    height: 26px;
    padding: 4px 8px;
}
.list-view-header-item {
    flex-basis: 30%;
    font-size: 16px;
    color: #888;

    &:last-of-type {
        flex-basis: 10%;
    }
}
.list-view {

    // -26px because of .list-view-header
    height: calc(100% - 26px);
    padding-left: 4px;
    padding-right: 4px;
}
.list-item {
    display: flex;
    padding: 4px;
    color: $base-text-color;
    cursor: default;

    &:not(:last-of-type) {
        border-bottom: 1px solid $color1;

        &.selected {
            border-bottom: 1px solid $color2;
        }
    }

    span {
        @include text-truncate;

        flex-basis: 30%;

        &:last-of-type {
            flex-basis: 10%;
        }
    }
}
