.playlist-add-option {
    min-width: 90px;

    &.active {
        background-color: $color1;
    }
}
.playlist-import-form {
    display: none;
    margin-top: 4px;

    &.visible {
        display: block;
    }
}
.btn-content.hidden {
    display: none;
}
.local-btn-icon {
    font-size: 48px;
}
.file-chooser {
    display: none;
}
.playlist-add-notice {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.playlist-entries {
    margin-top: 16px;
}
.playlist-entry {
    padding: 4px;
    border-bottom: 1px solid $color1;

    .btn.active {
        background-color: $color1;
    }
}
.playlist-entry-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playlist-entry-title {
    flex-grow: 1;
    margin-right: 4px;

    &:read-only {
        background-color: transparent;
    }
}
