.playlist-header {
    padding: 4px;
    margin-bottom: 4px;
    background-color: $color2
}
.playlist-container {
    position: relative;

    // -38px because of .playlist-header
    height: calc(100% - 38px);
    background-color: $color2;
}
.track {
    transition: all 0.1s;
    font-size: 14px;

    &:hover {
        background-color: $color3;
    }
    &.playing {
        color: $brand-color;
    }
    &.hidden {
        display: none;
    }
    &.selected {
        background-color: $color1;

        &:hover {
            background-color: $color1;
        }
     }
}
