.playlist-items {
    backface-visibility: hidden;
    user-select: none;
    overflow-y: auto;
    position: relative;
}
.track {
    font-size: 14px;

    &:hover {
        background-color: $color3;
    }
    &.playing {
        color: $brand-color;
    }
    &.hidden {
        display: none;
    }
    &.selected {
        background-color: $color1;

        &:hover {
            background-color: $color1;
        }
     }
 }
.filter-input {
    margin-right: auto;
}
.selected-area {
    z-index: 1;
    position: absolute;
    border: 1px solid $brand-color;
    background-color: transparentize($brand-color, 0.8);
}
