.sort-panel-container {
    user-select: none;
    position: relative;
    width: 100px;
    border-radius: 2px;

    .btn {
        width: 100%;
    }
}
.sort-panel {
    z-index: 1;
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;
    border-radius: 2px;
    border: 1px solid $color3;
    background-color: $color1;
}
.sort-option {
    margin: 2px;
}
.order-toggle-btn {
    padding: 4px;
    font-size: 12px;
}
