.grid-view-sort-select {
    z-index: 1;
    position: absolute;
    top: 4px;
    right: 19px;
    padding: $spacing-half;
    border: $spacing solid $color1;
    border-radius: $spacing-half;
    background-color: $color3;
    color: $base-text-color;
    opacity: 0.6;

    &:hover { opacity: 1; }
}
.grid-view {
    backface-visibility: hidden;
    overflow-y: auto;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    padding: $spacing-half;
}
.grid-item {
    user-select: none;
    width: 160px;
    height: 130px;
    padding: $spacing-half;
    margin: $spacing-half;
    color: $base-text-color;
    text-align: center;
    font-size: 12px;
    cursor: default;
}
.grid-item-thumb-container {
    position: relative;
    display: inline-block;
}
.grid-item-duration {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 6px;
    background-color: $color2;
}
.grid-item-thumb {
    display: block;
    height: 80px;
    object-fit: scale-down;
}
