.playlist-add-options {
    display: flex;
    align-items: flex-start;
    height: 124px;
}
.playlist-add-option {
    flex-basis: 50%;
    text-align: center;
}
.playlist-provider-container {
    display: flex;
    justify-content: center;
}
.playlist-provider {
    user-select: none;
    width: 100px;
    padding: $spacing;
    margin-right: $spacing-double;
    border-radius: $spacing-half;
    text-align: center;
    font-size: 14px;
    color: $base-text-color;
    cursor: pointer;

    &:hover { color: $brand-color; }
    &:last-of-type { margin-right: 0; }
    &.selected { background-color: $color1; }
    div { user-select: none; }
}
.playlist-provider-logo {
    max-width: 100%;
}
.form-container {
    display: none;
    margin-top: $spacing;
    font-size: 14px;

    &.show { display: block; }
}
.local-btn-icon {
    font-size: 59px;
}
.local-btn-title {
    font-size: 14px;
}
.file-chooser {
    display: none;
}
.file-progress {
    appearance: none;
    visibility: hidden;
    opacity: 0;
    width: 300px;
    height: 26px;
    margin-top: 4px;
    transition: all 0.2s;

    &.show {
        visibility: visible;
        opacity: 1;
    }
    &::-webkit-progress-bar {
        border-radius: 2px;
        background-color: $color1;
    }
    &::-webkit-progress-value {
        border-radius: 2px;
        background-color: $brand-color;
    }
}
.playlist-add-local-notice {
    position: relative;
    top: -24px;
    display: none;
    text-align: center;
    color: $color2;
    font-size: 12px;

    &.show { display: block; }
}
.playlist-add-notice {
    visibility: hidden;
    height: 18px;
    margin-top: $spacing;
    text-align: center;

    &.show { visibility: visible; }
}
.playlist-entries {
    margin: $spacing;
    padding: $spacing;
}
.playlist-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing;
    border-bottom: 1px solid $color1;
}
.playlist-entry-title {
    flex-grow: 1;
    margin-right: $spacing;

    &:read-only { background-color: transparent; }
}
.playlist-entry-btn.active {
    background-color: $color1;
}
