.player-controls,
.main-controls,
.controls {
    display: flex;
}

.player-controls {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    height: 36px;
    padding: 4px;
    user-select: none;

    @include breakpoint-smallest {
        align-items: flex-end;
        height: 62px;
    }
}

.controls {
    @include breakpoint-smallest {
        margin-left: auto;
    }
}

.control-bar {
    position: relative;
    height: 4px;
    border-radius: 2px;
    background: #666;
    cursor: pointer;

    &:hover {
        height: 6px;
        border-radius: 3px;

        .bar-label:not(.hidden) {
            display: block;
        }

        .bar-thumb {
            display: block;
        }
    }

    &:active {
        .bar-label:not(.hidden) {
            display: block;
        }

        .bar-thumb {
            display: block;
            background-color: #aaa;
        }
    }
}

.control-bar-inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 0;
    height: 100%;
    border-radius: inherit;
    background-color: $brand-color;
}

.bar-label {
    left: 0;
    bottom: 18px;
    display: none;
    min-width: 40px;
    padding: 4px;
    color: $base-text-color;
    font-size: 13px;
    text-align: center;
    transform: translateX(-50%);

    &.hidden {
        display: none;
    }
}

.bar-thumb {
    flex-grow: 0;
    flex-shrink: 0;
    display: none;
    width: 12px;
    height: 12px;
    border: 3px solid #ddd;
    border-radius: 50%;
    background-color: #ddd;
    transform: translateX(50%);
}

.main-control-btn {
    padding: 0;
    margin-right: 4px;

    svg {
        width: 28px;
        height: 28px;
    }
}

.track-time {
    margin-left: 8px;
    margin-right: 8px;
    color: $base-text-color;
    font-size: 12px;
}

.track-bar-container {
    display: flex;
    align-items: center;
    flex-grow: 1;

    @include breakpoint-smallest {
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
    }
}

.track-bar {
    flex-grow: 1;
}

.control-btn {
    margin-right: 4px;
}

.volume-bar-container {
    display: flex;
    align-items: center;
}

.volume-bar {
    width: 100px;
    margin-left: 4px;
    margin-right: 8px;
}
