.manage-tab {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    padding: 8px;
    background-color: $color2;
}
.manage-tab-section-title {
    margin-top: 4px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}
.import-option-container,
.pl-entry-container {
    padding: 8px;
    border: 1px solid $color1;
    border-radius: 2px;
    background-color: $color3;
}
.import-option-container {
    flex-basis: 288px;
    margin-bottom: 8px;
}
.import-options,
.pl-entries {
    padding: 4px;
    border: 1px solid $color3;
    border-radius: 2px;
    background-color: $color1;
}
.option-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparentize($color1, 0.2);
    font-size: 14px;

    img {
        width: 24px;
    }
}
.mask-message {
    margin-left: 6px;
}
.import-option {
    position: relative;
    padding: 2px;
    border-bottom: 1px solid $color3;
}
.import-option-btn {
    @include svg-container {
        width: 20px;
        height: 20px;
    }

    justify-content: flex-start;
    width: 100%;

    &.active .import-option-title {
        display: none;
    }
}
.import-option-icon {
    padding: 1px 0;
    margin-right: 8px;
}
.import-form {
    display: inline-flex;
    flex-grow: 1;

    input {
        flex-grow: 1;
        width: 50%;
        margin-right: 4px;
        background-color: $color2;
    }
}
.file-picker {
    display: none;
}
.pl-entry-container {
    flex-grow: 1;
    margin-left: 8px;
}
.pl-entry {
    display: flex;
    padding: 4px;
    border-bottom: 1px solid $color3;

    .btn {
        @include svg-container {
            width: 20px;
            height: 20px;
        }
    }
}
.pl-entry-form {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        background-color: $color2;
    }
}
.pl-entry-title {
    flex-grow: 1;
    margin-right: 4px;

    &:read-only {
        background-color: transparent;
    }
}

@media (max-width: 758px) {
    .manage-tab {
        display: block;
    }
    .pl-entry-container {
        margin-left: 0;
    }
}
