.controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    padding: 4px;
    user-select: none;

    @include for-phone-only {
        align-items: flex-end;
        justify-content: center;
        height: 48px;
    }
}
.control-bar {
    position: relative;
    height: 4px;
    border-radius: 2px;
    margin-left: 8px;
    margin-right: 8px;
    background: #666;
    cursor: pointer;

    &:hover {
        height: 6px;
        border-radius: 3px;

        .bar-thumb {
            display: block;
        }
    }
}
.main-control-btn {
    width: 26px;
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 22px;
}
.track-time {
    color: $base-text-color;
    font-size: 12px;
}
.track-current {
    margin-left: 6px;
}
.track-duration {
    margin-right: 8px;
}
.track-bar-container {
    display: flex;
    align-items: center;
    flex-grow: 1;

    @include for-phone-only {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 4px;
    }
}
.track-bar {
    flex-grow: 1;
}
.track-bar-inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 0;
    height: 100%;
    border-radius: inherit;
    background: $brand-color;
}
.control-btn {
    padding: 4px 6px;
    margin-right: 4px;
}
.repeat-btn {
    @include for-phone-only {
        margin-left: 8px;
    }
}
.volume-btn {
    display: none;

    @include for-phone-only {
        display: inline-block;
    }
}
.volume-icon {
    margin-left: 4px;
    color: $base-text-color;

    @include for-phone-only {
        display: none;
    }
}
.volume-bar-container {
    @include for-phone-only {
        display: none;

        &.visible {
            position: absolute;
            top: -10px;
            right: 12%;
            display: flex;
            align-items: center;
            height: 28px;
            background-color: $color1;
            border: 1px solid $color3;
        }
    }
}
.volume-bar {
    width: 100px;
}
.volume-bar-inner {
    width: 20%;
}
.bar-thumb {
    display: none;
    flex-grow: 0;
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    margin-right: -6px;
    border: 3px solid #ddd;
    border-radius: 50%;
    background: #ddd;

    &:active {
        background-color: #aaa;
    }
}
