.list-view-header {
    display: flex;

    // -14px to account for scrollbar
    width: calc(100% - 14px);
    height: 26px;
    padding-top: $spacing;
    padding-bottom: $spacing;
    margin-left: $spacing;
}
.list-view-header-item {
    flex-basis: 30%;
    padding-left: $spacing;
    font-size: 16px;
    color: #888;

    &:last-of-type {
        flex-basis: 10%;
        margin-right: 4px;
    }
    span:hover {
        cursor: pointer;
        color: $base-text-color;
    }
}
.list-view {
    user-select: none;
    backface-visibility: hidden;
    overflow-y: scroll;
    height: calc(100% - 26px);
}
.list-item {
    display: flex;
    padding-top: $spacing;
    padding-bottom: $spacing;
    margin-left: $spacing;
    margin-right: $spacing;
    border-bottom: 1px solid $color1;
    color: $base-text-color;
    cursor: default;

    span {
        @extend %text-overflow;

        flex-basis: 30%;
        padding-left: $spacing;

        &:last-of-type { flex-basis: 10% }

    }
}
