.sidebar-container {
    float: left;
    height: 100%;

    @include breakpoint-smallest {
        &.contracted {
            bottom: 48px;
        }
    }

    @include breakpoint-small {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        backdrop-filter: blur(2px);
        background-color: transparentize($color2, 0.4);

        &:not(.contracted) {
            z-index: 3;

            & + .main {
                height: 100%;
            }
        }

        &.contracted {
            bottom: 36px;
            height: 40px;

            @include breakpoint-smallest {
                bottom: 48px;
            }

            .sidebar {
                flex-direction: row;
                width: 100%;
                background-color: $color2;
            }

            .sidebar-header {
                display: none;
            }

            .sidebar-nav {
                display: none;
            }

            .track-info {
                flex-grow: 1;
                overflow: hidden;
                display: flex;
                margin-top: 0;
            }

            .track-art-container {
                width: 36px;
                height: 100%;

                &:hover .artwork-size-btn {
                    display: none;
                }
            }

            .track-art-wrapper, .track-art {
                width: 100%;
            }

            .track-name {
                flex-grow: 1;
                height: 100%;
                text-overflow: ellipsis;
            }
        }
    }
}

.sidebar {
    user-select: none;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    padding-right: 2px;
    background-color: $color1;
}

.sidebar-header {
    height: 80px;
    background-image: url("./assets/images/main-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $color2;
    text-indent: -9999px;
}

.main-title {
    margin-top: 0;
    margin-bottom: 0;
    color: $base-text-color;
    font-size: 24px;
    cursor: default;
}

.sidebar-nav {
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-btn-container {
    padding: 4px;
    margin-top: 2px;
    background-color: $color2;
}

.new-pl-btn {
    width: 100%;
}

.sidebar-form {
    display: flex;
    padding-top: 4px;
    border-top: 1px solid $color1;

    input {
        flex-grow: 1;
        width: 50%;
        margin-right: 2px;
    }
}

.sidebar-entries {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0 4px 4px 4px;
    margin-top: 2px;
    background-color: $color2;

    li {
        margin-top: 4px;
    }
}

.sidebar-btn {
    @include text-truncate;

    position: relative;
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;

    &.active {
        color: $base-text-color;

        &:hover {
            color: $brand-color;
        }

        .active-playlist-icon {
            box-shadow: -2px 0px 8px 5px $color1;
        }
    }

    .active-playlist-icon {
        box-shadow: -2px 0px 8px 5px $color2;
    }
}

.active-playlist-icon {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: inherit;
    color: $base-text-color;
    transform: translateY(-50%);
    transition: 0.1s box-shadow;

    @include svg-container {
        width: 20px;
        height: 20px;
    }
}

.track-info {
    display: flex;
    height: 40px;
    margin-top: 2px;
    transition: all 0.4s;

    &.enlarged {
        flex-direction: column;
        height: 160px;

        .track-art-container {
            height: calc(100% - 42px);
            margin-bottom: 2px;
        }

        .track-art-wrapper {
            width: 100%;
        }

        .track-art {
            width: 100%;
        }

        .track-name {
            height: 40px;
        }
    }
}

.track-art-container {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: $color2;
    text-align: center;

    &:hover .track-art-button-container {
        display: flex;
    }
}

.track-art-wrapper {
    position: relative;
    display: inline-block;
    height: 100%;
}

.track-art-button-container {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: flex-end;
    width: 100%;

    .btn {
        @include svg-container {
            width: 16px;
            height: 16px;
        }
    }
}

.artwork-size-btn {
    margin-right: auto;
}

.track-art {
    width: 40px;
    height: 100%;
    object-fit: scale-down;
}

.track-name {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 4px 0;
    border-left: 4px solid $color2;
    border-right: 4px solid $color2;
    background-color: $color2;
    color: $base-text-color;
    white-space: nowrap;
    overflow: hidden;
}

.track-title {
    font-size: 14px;
}

.track-artist {
    font-size: 12px;
}
