.sidebar-container {
    cursor: default;

    @include for-phone-only {
        z-index: 1;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
        background-color: transparentize($color2, 0.6);

        &.contracted {
            z-index: 0;
            height: 40px;
            border-top: 1px solid $color1;

            .sidebar {
                flex-direction: row;
                width: 100%;
                padding: 2px 0;
                background-color: $color2;
            }
            .sidebar-header {
                width: 20px;
                height: 50%;
                margin: 8px;
                background-image: url("../assets/images/main-icon-alt.png");
            }
            .sidebar-nav {
                display: none;
            }
            .track-info {
                display: flex;
                width: calc(100% - 40px);
                margin-top: 0;
            }
            .track-art-container {
                flex-shrink: 0;
                width: 36px;
                height: 100%;
                padding: 0 0 0 2px;
                margin: 0;

                &:hover .btn {
                    display: none;
                }
            }
            .track-art {
                width: 100%;
            }
            .track-name {
                height: 100%;
                padding: 2px 0;
                border-right: 0;
            }
        }
    }
}
.sidebar {
    user-select: none;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 100%;
    padding-right: 2px;
    background-color: $color1;
}
.sidebar-header {
    height: 80px;
    background-image: url("../assets/images/main-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color2;

    @include for-phone-only {
        cursor: pointer;
    }
}
.main-title {
    margin-top: 0;
    margin-bottom: 0;
    color: $base-text-color;
    font-size: 24px;
    cursor: default;
}
.sidebar-nav {
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.sidebar-btn-container {
    padding: 4px;
    margin-top: 2px;
    background-color: $color2;
}
.new-pl-btn {
    width: 100%;
}
.sidebar-form {
    display: flex;
    padding-top: 4px;
    border-top: 1px solid $color1;

    input {
        flex-grow: 1;
        width: 50%;
        margin-right: 4px;
    }
}
.sidebar-entries {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0 4px 4px 4px;
    margin-top: 2px;
    background-color: $color2;

    li {
        margin-top: 4px;
    }
}
.sidebar-btn {
    @include text-truncate;

    position: relative;
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;

    &.active {
        color: $base-text-color;

        &:hover {
            color: $brand-color;
        }
    }
}
.active-playlist-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: inherit;
    color: $base-text-color;

    @include svg-container {
        width: 20px;
        height: 20px;
    }
}
.track-info {
    margin-top: 2px;
}
.track-art-container {
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 2px;
    margin-bottom: 2px;
    background-color: $color2;
    text-align: center;

    &:hover .btn {
        display: flex;
    }
}
.track-art-wrapper {
    position: relative;
    display: inline-block;
    height: 100%;

    .btn {
        @include svg-container {
            width: 20px;
            height: 20px;
        }

        position: absolute;
        top: 4px;
        right: 4px;
        display: none;

    }
}
.track-art {
    height: 100%;
    object-fit: scale-down;
}
.track-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    padding: 4px 0;
    border-left: 4px solid $color2;
    border-right: 4px solid $color2;
    background-color: $color2;
    color: $base-text-color;
    white-space: nowrap;
    overflow: hidden;
}
.track-title, .track-artist {
    will-change: transform;
}
.track-title {
    font-size: 14px;
}
.track-artist {
    font-size: 12px;
}
