.sidebar {
    float: left;
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 100%;
}
.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin: 0 4px 4px 0;
    background-color: $color2;
}
.main-title {
    margin-top: 0;
    margin-bottom: 0;
    color: $base-text-color;
    font-size: 40px;

    span { color: $brand-color; }
}
.sidebar-nav {
    flex-grow: 1;
    user-select: none;
    padding-top: $spacing;
    margin-right: $spacing;
    background-color: $color2;
}
.add-playlist-btn {
    display: block;
    margin: 0 $spacing $spacing $spacing;
    text-align: center;

    &.active { background-color: $color1; }
}
.sidebar-section {
    border-top: $spacing solid $color1;
}
.sidebar-section-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: $spacing;
    border-bottom: 1px solid $color1;
    color: $base-text-color;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    cursor: default;
}
.sidebar-playlist-entries {
    padding: $spacing;
}
.sidebar-btn {
    position: relative;
    width: 100%;
    padding-top: $spacing-double;
    padding-bottom: $spacing-double;
    border-radius: 0;
    text-align: center;

    &.active {
        background-color: $color1;
        color: $base-text-color;

        .is-playlist-active {
            background-color: $color1;
            box-shadow: -2px 0px 6px $color1;
        }
        &:hover { color: $brand-color; }
    }
}
.sidebar-playlist-title {
    font-size: 14px;
}
.is-playlist-active {
    position: absolute;
    top: 50%;
    right: $spacing;
    transform: translateY(-50%);
    background-color: $color2;
    box-shadow: -2px 0px 6px $color2;

    &.hidden { display: none; }
}
.sidebar-footer {
    overflow: hidden;
    display: none;

    &.show { display: block; }
}
.player-track-art-container {
    padding: $spacing;
    margin: $spacing $spacing $spacing 0;
    background-color: $color2;
}
.player-track-art {
    display: block;
    width: 100%;
    height: 100px;
    object-fit: scale-down;
}
.player-track-info {
    height: 40px;
    padding: $spacing;
    margin-right: $spacing;
    background-color: $color2;
    white-space: nowrap;
    color: $base-text-color;
}
.track-title {
    @extend %text-overflow;

    font-size: 16px;
}
.track-artist {
    @extend %text-overflow;

    font-size: 12px;
}
