.tab-header {
    z-index: 2;
    position: absolute;
    display: none;
    height: 32px;
    padding: 4px;

    @include breakpoint-small {
        display: block;
    }
}

.sidebar-toggle-btn-container {
    width: 24px;
    height: 24px;
    background-image: url("./assets/images/main-icon-alt.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.sidebar-toggle-btn {
    width: inherit;
    height: inherit;
    padding: 0;
    background-color: transparent;
}

.tab-container {
    display: none;
    flex-grow: 1;
    height: 100%;

    &.active {
        display: flex;
        flex-direction: column;
    }

    @include breakpoint-small {
        height: calc(100% - 64px);
    }
}

.tab {
    backface-visibility: hidden;
    position: relative;
    display: none;
    height: 100%;
    background-color: $color2;
    color: $base-text-color;
    overflow-y: auto;

    &.active {
        display: block;
    }
}

.playlist-tabs {
    flex-grow: 1;
    height: calc(100% - 64px);
}

.playlist-tab-header {
    flex-shrink: 0;
    display: flex;
    padding: 4px;
    margin-bottom: 2px;
    background-color: $color2;

    @include breakpoint-small {
        position: relative;
        justify-content: flex-end;
    }
}

.playlist-tab-header-item {
    margin-right: 4px;
}

.filter-input-container {
    position: relative;
    display: flex;
    margin-right: auto;

    @include breakpoint-small {
        position: absolute;
        left: 32px;
    }
}

.filter-input-icon {
    position: absolute;
    top: 50%;
    left: 2px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    fill: $base-text-color;
}

.filter-input {
    width: 100px;
    padding-left: 24px;
    padding-right: 24px;
    transition: 0.2s width;

    &.active {
        width: 184px;
    }
}

.clear-input-btn {
    display: none;

    &.visible {
        @include svg-container {
            width: 20px;
            height: 20px;
        }

        position: absolute;
        top: 50%;
        right: 2px;
        padding: 0;
        transform: translateY(-50%);
    }
}

.playlist-type-btns {
    display: flex;

    @include breakpoint-smallest {
        display: none;
    }
}

.list-type-btn {
    margin-right: 2px;
}

.tab-title {
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.tab-404-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    h2, h3 {
        margin-top: 0;
    }
    h2 {
        margin-bottom: 0;
        font-size: 64px;
    }
}

.playlist-tab-footer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 4px;
    margin-top: 2px;
    background-color: $color2;
    color: $base-text-color;
    font-size: 14px;
    user-select: none;
}
