.tab-container {
    height: 100%;
}
.tab {
    position: relative;
    display: none;
    height: 100%;
    background-color: $color2;
    color: $base-text-color;

    &.active {
        display: block;
    }
}
.playlist-tab {
    height: calc(100% - 36px);
}
.tab-header {
    display: none;
    padding: 4px;
    margin-bottom: 4px;
    background-color: $color2;

    &.show {
        display: flex;
        justify-content: space-between;
    }
}
.tab-title {
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
.tab-404-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    h2, h3 {
        margin-top: 0;
    }
    h2 {
        margin-bottom: 0;
        font-size: 64px;
    }
}
