.tab-container {
    height: 100%;

    &.is-playlist-tab-visible {
        height: calc(100% - 64px);
    }
}
.tab {
    will-change: display;
    position: relative;
    display: none;
    height: 100%;
    background-color: $color2;
    color: $base-text-color;

    &.active {
        display: block;
    }
}
.tab-header {
    display: none;
    padding: 4px;
    margin-bottom: 2px;
    background-color: $color2;

    &.visible {
        display: flex;

        @include for-phone-only {
            position: relative;
            justify-content: flex-end;
        }
    }
}
.tab-header-item {
    margin-left: 4px;
}
.filter-input-container {
    display: flex;
    margin-left: 0;
    margin-right: auto;

    @include for-phone-only {
        position: absolute;
        left: 4px;
        padding-right: 4px;
        background-color: $color2;
    }
}
.filter-input-btn {
    display: none;

    @include for-phone-only {
        display: inline-block;
    }
}
.filter-input {
    width: 140px;

    @include for-phone-only {
        display: none;

        &.visible {
            display: inline-block;
            margin-left: 4px;
        }
    }
}
.list-toggle-btn {
    @include for-phone-only {
        display: none;
    }
}
.grid-toggle-btn {
    @include for-phone-only {
        display: none;
    }
}
.tab-title {
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
.tab-404-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    h2, h3 {
        margin-top: 0;
    }
    h2 {
        margin-bottom: 0;
        font-size: 64px;
    }
}
.tab-footer {
    display: none;
    align-items: center;
    height: 28px;
    padding: 0 4px;
    margin-top: 2px;
    background-color: $color2;
    color: $base-text-color;
    font-size: 14px;
    user-select: none;

    &.visible {
        display: flex;
    }
}
