$spacing: 4px;
$spacing-half: $spacing / 2;
$spacing-double: $spacing * 2;
$spacing-triple: $spacing * 3;

$brand-color: #5BC0EB;
$base-text-color: #ddd;
$color1: #404552;
$color2: #2f343f;
$color3: #353945;
