*, *:after, *:before {
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: $background-color-darkest;
    text-rendering: optimizeLegibility;
    font-family: $font-family;
    font-size: 14px;
    scrollbar-face-color: transparent;
    scrollbar-track-color: $background-color-light;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

svg {
    box-sizing: content-box;
    display: block;
    width: 20px;
    height: 20px;
    fill: currentColor;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $background-color-light;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}

%default-input-styles {
    padding: 4px 8px;
    border: none;
    font-size: 14px;
    color: $color-text;
    font-family: $font-family;
}

.input {
    @extend %default-input-styles;

    background-color: $background-color-darkest;
}

%default-btn-styles {
    @extend %default-input-styles;

    cursor: pointer;

    &:hover,
    &.active {
        color: $color-accent;
    }

    &:disabled {
        color: $color-text-transparent;
        cursor: not-allowed;
    }
}

.btn {
    @extend %default-btn-styles;

    background-color: $background-color-light;
}

.btn-icon {
    @extend %default-btn-styles;

    padding: 0;
    background-color: transparent;
}

.checkbox::after {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: $background-color-darkest;
    color: $color-accent;
}

.checkbox-input {
    display: none;

    &:checked + .checkbox::after {
        content: "\2713";
    }
}

.player {
    display: grid;
    grid-template-rows: 1fr 80px;
    grid-template-columns: 200px 1fr;

    @include breakpoint-small {
        grid-template-rows: 1fr 108px;
        grid-template-columns: 1fr;
    }
}

.panel {
    z-index: 2;
    position: absolute;
    padding: 8px;
    background-color: $background-color-light;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    color: $color-text;
}

.panel-title {
    font-size: 16px;
}

.player-message {
    bottom: 88px;
    right: 8px;
    max-width: 300px;
    padding: 8px 16px;

    @include breakpoint-small {
        bottom: 116px;
    }
}

.play-message-title {
    margin-bottom: 0;

    &::first-letter {
        text-transform: uppercase;
    }
}

.play-message-body {
    margin-top: 4px;
    margin-bottom: 0;
}
