*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: $background-color-darkest;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  font-size: 14px;
  color: $color-text;
  scrollbar-face-color: transparent;
  scrollbar-track-color: $background-color-light;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button, input {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

svg {
  box-sizing: content-box;
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $background-color-light;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}

.input {
  padding: 6px 8px;
  border-radius: 2px;
  background-color: $background-color-darkest;

  &::placeholder {
    color: $color-text-darker;
  }
}

.btn {
  padding: 6px 10px;
  border-radius: 2px;
  background-color: $background-color-darkest;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: $color-accent;
  }

  &:disabled {
    cursor: default;
    color: $color-text-darker;
  }
}

.btn-icon {
  padding: 0;
  background-color: transparent;

  &.active {
    color: $color-accent;
  }
}

.btn-text {
  background-color: transparent;
}

.btn-danger {
  background-color: $color-danger;
  transition: 0.2s background-color;

  &:hover {
    color: $color-text;
    background-color: darken($color-danger, 4);
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background-color: $background-color-darkest;
}

.checkbox-tick {
  display: none;
  width: 34%;
  height: 68%;
  border-right: 2px solid $color-accent;
  border-bottom: 2px solid $color-accent;
  transform: translate(4%, -10%) rotateZ(45deg);
}

.checkbox-input {
  display: none;

  &:checked + .checkbox .checkbox-tick {
    display: block;
  }
}

.modal {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color-dark-80;

  .panel {
    position: static;
    max-width: 372px;
    margin: 8px;
  }
}

.panel {
  z-index: 2;
  position: absolute;
  padding: 8px;
  border-radius: 4px;
  background-color: $background-color-lightest;
  box-shadow: 0 1px 1px $color-black-20;
}

.panel-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  .panel-title {
    margin-bottom: 0;
  }
}

.panel-icon {
  padding: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: $color-danger;
}

.panel-title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.panel-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;

  .btn {
    margin-left: 8px;
  }
}

.player {
  --controls-height: 84px;

  overflow: hidden;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: calc(100% - var(--controls-height)) var(--controls-height);

  @include breakpoint-small {
    --controls-height: 102px;
  }
}

.player-messages {
  z-index: 5;
  position: absolute;
  bottom: calc(var(--controls-height) + 8px);
  right: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include breakpoint-small {
    max-width: calc(100% - 16px);
  }
}

.player-message {
  padding: 16px;
  border-radius: 4px;
  background-color: $background-color-lightest;
  box-shadow: 0 1px 1px $color-black-20;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.player-message-title {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
}

.player-message-body {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
}

.player-message-btn {
  margin-left: 16px;
  font-weight: bold;
}

.upload-notice {
  display: flex;
  align-items: center;

  img {
    width: 20px;
    margin-right: 8px;
  }
}

.service-worker-message {
  display: flex;
}
