@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin breakpoint-small {
  @media (max-width: 760px) { @content; }
}

@mixin breakpoint-smallest {
  @media (max-width: 560px) { @content; }
}
