@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin center-absolutely {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-vertically {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin center-horizontally {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin popup-arrow {
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;

        @content;
    }
}

%spinner {
    z-index: 1;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/images/spinner.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin spinner {
    &::after {
        @extend %spinner;

        @content;
    }
}

// Force css-mqpacker to use correct breakpoint order.
@media (max-width: 1024px) {/* */}
@media (max-width: 760px) {/* */}
@media (max-width: 540px) {/* */}

@mixin home-tab-breakpoint {
    @media (max-width: 1060px) { @content; }
}

@mixin breakpoint-small {
    @media (max-width: 760px) { @content; }
}

@mixin breakpoint-smallest {
    @media (max-width: 540px) { @content; }
}

@mixin sidebar-height-breakpoint {
    @media (max-height: 500px) { @content; }
}
