@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin center-absolutely {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-vertically {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin center-horizontally {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin popup-arrow {
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;

        @content;
    }
}

// Force css-mqpacker to use correct breakpoint order.
@media (max-width: 760px) {/* */}
@media (max-width: 560px) {/* */}

@mixin breakpoint-small {
    @media (max-width: 760px) { @content; }
}

@mixin breakpoint-smallest {
    @media (max-width: 560px) { @content; }
}
