.move-to-panel {
    top: 36px;
    width: 200px;
    padding: 8px 0;
}

.move-to-panel-title {
    margin: 7px 0 15px 10px;
    font-size: 16px;
    font-weight: normal;
}

.move-to-list {
    overflow-y: auto;
    max-height: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-top: 1px solid $color3;
    border-bottom: 1px solid $color3;

    &.hidden {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background: $color3;
    }
}

.move-to-list-item-btn,
.move-to-new-pl-btn {
    width: 100%;
    text-align: left;

    &:hover {
        background-color: $color3;
        color: $base-text-color;
    }
}

.move-to-list-item-btn {
    @include text-truncate;

    padding: 8px 10px;
}

.move-to-new-pl-btn {
    padding: 6px;

    &.hidden {
        display: none;
    }

    svg {
        margin-right: 4px;
    }
}

.move-to-form {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid $color2;

    .input {
        flex-grow: 1;
        width: 50%;
         border-right: 1px solid $color2;
    }

    .input,
    .btn {
        background-color: $color3;
    }
}
