.move-to-panel {
    top: 36px;
    width: 220px;
    padding: 8px 0;
}

.move-to-panel-title {
    padding: 8px 0 8px 10px;
}

.move-to-list {
    overflow-y: auto;
    max-height: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-top: $border-light;
    border-bottom: $border-light;

    &::-webkit-scrollbar-thumb {
        background: $background-color-dark;
    }
}

.move-to-list-item-btn,
.move-to-new-pl-btn {
    width: 100%;
    text-align: left;
    background-color: $background-color-light;

    &:hover {
        background-color: $background-color-dark;
        color: $color-text;
    }
}

.move-to-list-item-btn {
    @include text-truncate;

    padding: 8px 10px;
}

.move-to-new-pl-btn {
    display: flex;
    align-items: center;
    padding: 6px;

    svg {
        margin-right: 4px;
    }
}

.move-to-form {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0 0 0 1px $background-color-darkest;

    .input {
        flex-grow: 1;
        width: 50%;
    }
}
