.move-to-panel {
    top: 32px;
    width: 200px;

    @include breakpoint-smallest {
        right: 4px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    }
}

.move-to-panel-title {
    margin-top: 0;
    margin-bottom: 8px;
    color: $base-text-color;
    font-size: 16px;
    font-weight: normal;
}

.move-to-list {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 8px;
    border-top: 1px solid $color3;
    border-bottom: 1px solid $color3;

    &.hidden {
        display: none;
    }
}

.move-to-list-item {
    margin-top: 2px;
    margin-bottom: 2px;

    .btn {
        @include text-truncate;

        width: 100%;
        text-align: left;
    }
}

.move-to-new-pl-btn {
    width: 100%;
    text-align: left;

    &.hidden {
        display: none;
    }
}

.move-to-form {
    display: flex;

    .input {
        flex-grow: 1;
        width: 50%;
        margin-right: 2px;
    }

    .input,
    .btn {
        background-color: $color3;
    }
}
