.track {
    &:hover, &:focus, &:focus-within, &.playing {
        .track-play-pause-btn {
            display: flex;
        }
    }

    &:hover, &:focus, &:focus-within {
        background-color: $color3;
    }

    &:focus {
        @extend %focus-styles;
    }

    &.playing {
        color: $brand-color;
    }

    &.hidden {
        display: none;
    }

    &.selected {
        background-color: $color1;

        &:hover {
            background-color: $color1;
        }
     }
 }

 .track-play-pause-btn {
     position: absolute;
     top: 50%;
     left: 50%;
     display: none;
     border: 1px solid currentColor;
     border-radius: 50%;
     background-color: transparent;
     color: inherit;
     transform: translate(-50%, -50%);

     &:focus {
         display: flex;
     }
 }

.selected-area {
    z-index: 1;
    position: absolute;
    border: 1px solid $brand-color;
    background-color: transparentize($brand-color, 0.8);
}
