.player-controls {
    z-index: 4;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 8px;
    user-select: none;
    background-color: $color1;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    color: $base-text-color;

    @include breakpoint-small {
        z-index: 4;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 4px;
    }

    @include breakpoint-smallest {
        height: 100px;
        padding-bottom: 0;
    }
}

.now-playing {
    display: flex;
    width: 30%;
    height: 100%;

    @include breakpoint-small {
        width: 100%;
        height: 32px;
    }

    @include breakpoint-smallest {
        width: calc(100% - 28px);
    }
}

.now-playing-art-container {
    flex-shrink: 0;
    overflow-x: hidden;
    position: relative;
    width: 64px;
    height: 64px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

    &:hover .now-playing-art-button-container {
        display: flex;
    }

    @include breakpoint-small {
        width: 32px;
        height: 32px;
    }
}

.now-playing-art-button-container {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    display: none;

    svg {
        width: 16px;
        height: 16px;

        @include breakpoint-smallest {
            width: 28px;
            height: 28px;
        }
    }
}

.track-name {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
    overflow: hidden;
}

.track-title {
    @include text-truncate;

    margin-bottom: 2px;
}

.track-artist {
    @include text-truncate;

    font-size: 12px;
}

.main-controls {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 40%;

    @include breakpoint-small {
        flex-grow: 1;
        flex-direction: row;
        align-items: center;
        height: 36px;
        margin-top: auto;
    }

    @include breakpoint-smallest {
        justify-content: center;
        height: auto;
    }
}

.main-control-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-control-btn {
    padding: 0;

    svg {
        width: 32px;
        height: 32px;
    }

    @include breakpoint-small {
        svg {
            width: 28px;
            height: 28px;
        }
    }
}

.play-pause-btn {
    padding: 0;
    margin-right: 8px;
    margin-left: 8px;

    svg {
        width: 40px;
        height: 40px;
    }

    @include breakpoint-small {
        margin-right: 4px;
        margin-left: 4px;
    }
}

.track-slider-panel {
    display: flex;
    align-items: center;
    flex-grow: 1;

    @include breakpoint-smallest {
        position: absolute;
        top: 36px;
        left: 4px;
        right: 4px;
        flex-wrap: wrap;
    }
}

.track-time {
    flex-shrink: 0;
    min-width: 32px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 12px;

    &:first-of-type {
        text-align: right;
    }

    @include breakpoint-smallest {
        order: 1;
        min-width: auto;
        margin-right: 0;
        margin-left: 0;

        &:last-of-type {
            margin-left: auto;
        }
    }
}

.control-slider-container {
    position: relative;
    width: 100%;
    height: 24px;
}

.control-slider {
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:hover, &:active {
        & + .slider-label:not(.hidden) {
            display: block;
        }
    }

    &:active .slider-thumb {
        background-color: #aaa;
    }
}

.slider-inner {
    position: relative;
    width: calc(100% - 12px);
    height: 100%;
}

.slider-thumb {
    position: absolute;
    top: calc(50% - 6px);
    width: 12px;
    height: 12px;
    border: 3px solid #ddd;
    border-radius: 50%;
    background-color: #ddd;
    will-change: left;

    &::before, &::after {
        content: "";
        position: absolute;
        top: 50%;
        display: block;
        height: 4px;
        margin-top: -2px;
    }

    &::before {
        background-color: $brand-color;
    }

    &::after {
        left: 9px;
        background-color: $color2;
    }
}

.track-slider-thumb {
    &::before, &::after {
        width: 100vw;
    }

    &::before {
        left: calc(-100vw - 3px);
    }
}

.slider-label {
    left: 0;
    bottom: 28px;
    display: none;
    min-width: 40px;
    padding: 4px;
    font-size: 13px;
    text-align: center;
    transform: translateX(-50%);
    will-change: left;

    &.hidden {
        display: none;
    }

    @include popup-arrow {
        bottom: -4px;
        left: 50%;
        border-top: 4px solid $color1;
        transform: translateX(-50%);
    }
}

.controls {
    display: flex;
    justify-content: flex-end;
    width: 30%;

    @include breakpoint-small {
        align-items: center;
        width: auto;
        height: 36px;
        margin-top: auto;
    }

    @include breakpoint-smallest {
        position: absolute;
        right: 4px;
        top: -24px;
        display: none;
        height: auto;
        padding: 4px;
        background-color: $color1;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);

        &.visible {
            display: flex;
        }
    }
}

.control-btn {
    margin-right: 4px;

    &.active {
        background-color: $color3;
        box-shadow: inset 1px 1px 1px 0 $color2;
    }
}

.volume-controls {
    display: flex;
    align-items: center;
}

.volume-slider-container {
    width: 100px;
    margin-right: 8px;

    @include breakpoint-smallest {
        margin-right: 0;
    }
}

.volume-slider-thumb {
    &::before, &::after {
        width: 100px;
    }

    &::before {
        left: -103px;
    }
}

.control-toggle-btn {
    position: absolute;
    top: 8px;
    right: 4px;
    display: none;

    @include breakpoint-smallest {
        display: flex;
    }
}
