.sort-panel-container {
    user-select: none;
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 112px;
    box-shadow: $box-shadow-light;
}

.sort-panel-toggle-btn {
    flex-grow: 1;
    background-color: $background-color-darkest;
    text-transform: capitalize;
}

.sort-panel-order-btn {
    padding: 2px 4px;
    background-color: $background-color-light;
}

.sort-panel {
    top: 28px;
    left: 0;
    right: 0;
    padding: 8px 0;
}

.sort-option-btn {
    width: 100%;
    padding: 8px 10px;
    text-transform: capitalize;

    &:hover {
        background-color: $background-color-light;
        color: $color-text;

        &.active {
            color: $color-accent;
        }
    }
}
