.list-view-header,
.list-item {
    display: flex;
    align-items: center;
    padding: 6px 4px 6px 40px;
    background-color: $background-color-darkest;
    user-select: none;
}

.list-view-header {
    z-index: 1;
    position: sticky;
    top: 0;
    margin-left: 4px;
    margin-right: 4px;
    color: $color-text-transparent;
}

.list-item {
    position: relative;

    &:not(:last-of-type) {
        border-bottom: 1px solid $background-color-light;
    }
}
.list-item-first-col {
    @include center-vertically;

    left: 0;
    width: 40px;
    text-align: center;

    .track-play-pause-btn {
        border-width: 1px;
    }
}

.list-item-index {
    color: $color-text-transparent;
    font-size: 13px;
}

.list-item-col {
    @include text-truncate;

    flex: 1;
    padding: 2px 0;
    margin-right: 4px;
}

.list-item-last-col {
    flex: 0 0 62px;
    text-align: center;
}
