.player-controls {
  --background-color: #{$background-color-light};

  z-index: 5;
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: 30% 1fr min-content 1fr 30%;
  grid-template-rows: 28px 1fr;
  padding: 8px 16px 8px 8px;
  user-select: none;
  background-color: var(--background-color);
  box-shadow: 0 -1px 4px $color-black-10;

  &.transparent {
    --background-color: transparent;

    position: static;
    box-shadow: none;

    .now-playing {
      padding-right: 0;
    }

    .artwork {
      display: none;
    }

    .track-info {
      position: absolute;
      left: 50%;
      bottom: calc(var(--controls-height) + 32px);
      max-width: 100%;
      padding: 0 16px;
      transform: translateX(-50%);
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 1px 2px $color-black-20;

       @include breakpoint-small {
         font-size: 14px;
       }
    }

    .track-title {
      margin-bottom: 2px;
      font-size: 20px;

       @include breakpoint-small {
         font-size: 18px;
       }
    }

    .artwork-container-btn {
      opacity: 1;
    }

    .slider-inner {
      background-color: $color-white-20;
    }

    .volume-controls {
      --offset: 76px;
    }
  }

  @include breakpoint-small {
    padding: 8px 16px;
    grid-template-rows: 32px 20px 40px;
    grid-template-columns: 1fr 1fr min-content 1fr 1fr;
  }
}

.main-controls {
  display: flex;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  margin-left: 16px;
  margin-right: 16px;

  @include breakpoint-small {
    grid-row: 3 / 4;
  }
}

.main-control-btn svg {
    width: 28px;
    height: 28px;
}

.play-pause-btn {
  --spinner-color: #{$color-accent};

  position: relative;
  margin-right: 8px;
  margin-left: 8px;

  &:hover {
    --spinner-color: #{$color-text};
  }
}

.play-pause-btn-icon {
    width: 40px;
    height: 40px;
}

.track-slider-panel {
  display: flex;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 2 / 5;
  align-self: flex-start;

  @include breakpoint-small {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.track-time {
  flex-shrink: 0;
  min-width: 32px;
  font-size: 13px;

  &:first-of-type {
    text-align: right;
  }

  @include breakpoint-small {
    order: 1;
    min-width: auto;
  }
}

.control-slider-container {
  position: relative;
  width: 100%;
}

.track-slider-container {
  margin-left: 8px;
  margin-right: 8px;

  @include breakpoint-small {
    margin-left: 0;
    margin-right: 0;
  }
}

.control-slider {
  display: flex;
  align-items: center;
  height: 20px;
  touch-action: none;

  &.visible {
    cursor: pointer;

    &:hover, &:active {
      & + .slider-label, .slider-thumb {
        display: block;
      }
    }

    &:active .slider-thumb {
      background-color: $color-text-dark;
    }
  }

  &.focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px $color-accent;
  }
}

.slider-inner {
  overflow: hidden;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $background-color-darkest;
}

.slider-elapsed {
  height: 100%;
  background-color: $color-accent;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

.slider-thumb {
  position: absolute;
  top: 50%;
  display: none;
  width: 12px;
  height: 12px;
  border: 3px solid $color-text;
  border-radius: 50%;
  background-color: $color-text;
  transform: translate(-50%, -50%);
  will-change: left;
}

.slider-label {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 28px;
  display: none;
  min-width: 40px;
  padding: 6px 10px;
  border-radius: 2px;
  background-color: $background-color-lightest;
  filter: drop-shadow(0 0 1px $color-black-20);
  font-size: 13px;
  text-align: center;
  will-change: left;

  &.visible {
    display: block;
  }

  @include popup-arrow {
    bottom: -4px;
    left: 50%;
    border-top: 4px solid $background-color-lightest;
    transform: translateX(-50%);
  }
}

.control-btn-label {
  z-index: 1;
  position: absolute;
  bottom: 32px;
  left: 50%;
  padding: 8px;
  border-radius: 2px;
  background-color: $background-color-lightest;
  filter: drop-shadow(0 0 1px $color-black-20);
  font-size: 13px;
  white-space: nowrap;
  animation-name: control-btn-label-reveal;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.shuffle-btn-wrapper {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: center;
  justify-self: flex-end;

  @include breakpoint-small {
    grid-row: 3 / 4;
  }
}

.playback-btn-wrapper {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  align-self: center;
  justify-self: flex-start;

  @include breakpoint-small {
    grid-row: 3 / 4;
  }
}

.control-btn {
  position: relative;
  display: block;

  &.active::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    display: block;
    width: 4px;
    height: 4px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: $color-accent;
  }

  .checkbox {
    background-color: transparent;
  }
}

.volume-controls {
  --offset: 8px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-row: 1 / 3;
  grid-column: 5 / 6;

  @include breakpoint-small {
    position: absolute;
    bottom: calc(var(--controls-height) + var(--offset));
    left: 8px;
    right: 8px;
    display: none;
    max-width: 400px;
    padding: 8px 16px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: $background-color-light;

    &.visible {
      display: flex;
    }
  }
}

.volume-slider-container {
  width: 100px;

  @include breakpoint-small {
    width: 100%;
  }
}

.mute-btn {
  margin-right: 8px;
}

.volume-toggle-btn {
  display: none;
  grid-row: 1 / 2;
  grid-column: 5 / 6;
  justify-self: flex-end;
  align-self: center;

  @include breakpoint-small {
    display: flex;
  }
}

.control-action {
  z-index: 3;
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - var(--controls-height) - 40px);
  pointer-events: none;

  &.animate {
    .control-action-icon-container {
      animation-name: opacity-scale-up;
      animation-duration: 0.64s;
      animation-fill-mode: forwards;
    }

    .control-action-text {
      animation-name: opacity-scale-up;
      animation-duration: 0.64s;
      animation-fill-mode: forwards;
    }
  }

  @include breakpoint-small {
    justify-content: center;
  }
}

.control-action-icon-container {
  box-sizing: content-box;
  position: relative;
  width: 48px;
  height: 48px;
  margin-top: 16vh;
  margin-bottom: 10vh;
  padding: 24px;
  border-radius: 50%;
  background-color: $color-black-60;

  @include breakpoint-small {
    width: 36px;
    height: 36px;
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.control-action-icon {
  width: inherit;
  height: inherit;
}

.control-action-text {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: $color-black-60;
  font-size: 24px;
  line-height: 1;

  @include breakpoint-small {
    font-size: 20px;
  }
}

@keyframes opacity-scale-up {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes control-btn-label-reveal {
  from {
    opacity: 0;
    transform: translate(-50%, 4px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
