.grid-view {
    --items-per-row: 1;

    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(var(--items-per-row), 1fr);
    padding: 4px;

    @media (min-width: 782px) {
        --items-per-row: 2;
    }

    @media (min-width: 1086px) {
        --items-per-row: 3;
    }

    @media (min-width: 1390px) {
        --items-per-row: 4;
    }

    @media (min-width: 1694px) {
        --items-per-row: 5;
    }
}

.grid-item {
    overflow: hidden;
    display: flex;
    height: 60px;
    cursor: default;
    user-select: none;
}

.grid-item-first-col {
    flex-shrink: 0;
    overflow-x: hidden;
    position: relative;
    width: 60px;
}

.grid-item-play-pause-btn {
    background-color: $background-color-dark-80;
    box-shadow: 0 0 0 24px $background-color-dark-80;
    animation-name: appear;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

    svg {
        width: 28px;
        height: 28px;
    }
}

.grid-item-thumbnail {
    pointer-events: none;
}

.grid-item-name {
    overflow: hidden;
    flex-grow: 1;
    margin-left: 8px;
}

.grid-item-title {
    @include text-truncate;

    margin-top: 6px;
    padding-bottom: 2px;
}

.grid-item-artist {
    @include text-truncate;

    font-size: 13px;
}

.grid-item-duration {
    margin: 6px 4px 0 6px;
    color: $color-text-dark;
}
