.import-settings-container {
    position: relative;
}

.import-settings-btn {
    color: $color-text-transparent;

    &:hover {
        color: $color-text;
    }
}

.import-settings-panel {
    right: 0;
    width: 298px;
}

.import-setting {
    display: flex;

    &:not(:last-of-type) {
        margin-bottom: 8px;
    }
}

.import-setting-label {
    margin-left: 8px;
}

.import-setting-message {
    display: flex;
    font-size: 13px;
    align-items: center;
    margin-top: 8px;
    color: $color-text-transparent;

    svg {
        margin-right: 4px;
    }
}

.import-option-container {
    max-width: 380px;
    margin-right: 16px;

    @include home-tab-breakpoint {
        max-width: 500px;
        margin-right: 0;
        margin-bottom: 16px;
    }
}

.import-option-local {
    display: flex;

    .import-option-btn:first-of-type {
        border-right: $border-light;
    }
}

.import-option-youtube {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.import-option-btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 8px;

    &:not(:disabled):hover {
        background-color: $background-color-light;
        color: $color-text;

        &.active {
            color: $color-accent;
        }
    }

    &:disabled {
        @include spinner {
            margin-left: 8px;
        }
    }
}

.import-option-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.google-sign-in {
    position: relative;
    display: flex;
}

.google-user {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .google-user-image {
        width: 48px;
        height: 48px;
    }
}

.google-panel-toggle-btn {
    padding: 0 8px;
}

.google-panel {
    top: 100%;
    right: 4px;
    display: flex;
    flex-direction: column;
}

.google-user-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.google-user-details {
    margin-left: 8px;
}

.google-user-name {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
}

.google-sign-in-btn {
    padding: 8px;
    margin-left: auto;
    font-weight:  bold;
    white-space: nowrap;

    &:disabled {
        position: relative;

        @include spinner {
            @include center-absolutely;
        };
    }
}

.import-form {
    grid-column: 1 / 3;
    display: flex;
    margin: 8px 8px 0 8px;
    box-shadow: $box-shadow-light;
}

.import-form-input-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    background-color: $background-color-dark;
}

.import-form-input {
    flex-grow: 1;
    min-width: 0;
    padding-right: 24px;
    background-color: transparent;
}

.import-info-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    color: $color-text-transparent;

}

.info-panel {
    top: 28px;
    right: 0;
    width: 262px;
    transform: translateX(16px);
}

.info-panel-content-item:not(:last-of-type) {
    margin-bottom: 2px;
}

.file-picker {
    display: none;
}

.import-progress {
    overflow: hidden;
    padding: 0 8px;
    animation-name: expand-import-progress, reveal;
    animation-delay: 0s, 0.2s;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

.import-progress-bar {
    position: relative;
    height: 18px;
    padding: 2px;
    background-color: $background-color-lightest;
}

.import-progress-label {
    @include text-truncate;

    margin: 0;
    padding: 8px 4px;
}

.import-progress-bar-inner {
    height: 100%;
    background-color: $color-accent;
    transform-origin: left;
    transition: transform 0.1s;
    will-change: transform;
}

.import-progress-bar-label {
    @include center-absolutely;

    font-size: 13px;
    font-weight: bold;
    color: $background-color-darkest;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes expand-import-progress {
    from {
        height: 0;
    }
    to {
        height: 50px;
    }
}
