.player-controls {
  --background-color: #{$background-color-light};

  z-index: 5;
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: 30% 1fr min-content 1fr 30%;
  grid-template-rows: 28px 1fr;
  padding: 8px 16px 8px 8px;
  user-select: none;
  background-color: var(--background-color);
  box-shadow: 0 -1px 4px $color-black-10;

  &.transparent {
    --background-color: transparent;

    position: static;
    box-shadow: none;

    .now-playing {
      padding-right: 0;
    }

    .artwork {
      display: none;
    }

    .track-info {
      position: absolute;
      left: 50%;
      bottom: calc(var(--controls-height) + 32px);
      align-items: center;
      max-width: 100%;
      width: 100%;
      padding: 0 16px;
      transform: translateX(-50%);
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 1px 2px $color-black-20;

       @include breakpoint-small {
         font-size: 14px;
       }
    }

    .track-title {
      margin-bottom: 2px;
      font-size: 20px;

       @include breakpoint-small {
         font-size: 18px;
       }
    }

    .artwork-container-btn {
      opacity: 1;
    }

    .slider-inner {
      background-color: $color-white-20;
    }

    .additional-controls {
      --offset: 76px;
    }
  }

  @include breakpoint-small {
    padding: 8px 16px;
    grid-template-rows: 32px 20px 40px;
    grid-template-columns: 1fr 1fr min-content 1fr 1fr;
  }
}

.main-controls {
  display: flex;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  margin-left: 16px;
  margin-right: 16px;

  @include breakpoint-small {
    grid-row: 3 / 4;
  }
}

.main-control-btn svg {
    width: 28px;
    height: 28px;
}

.play-pause-btn {
  --spinner-color: #{$color-accent};

  position: relative;
  margin-right: 8px;
  margin-left: 8px;

  &:hover {
    --spinner-color: #{$color-text};
  }
}

.play-pause-btn-icon {
    width: 40px;
    height: 40px;
}

.track-slider-panel {
  display: flex;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 2 / 5;
  align-self: flex-start;

  @include breakpoint-small {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.track-time {
  flex-shrink: 0;
  min-width: 32px;
  font-size: 13px;

  &:first-of-type {
    text-align: right;
  }

  @include breakpoint-small {
    order: 1;
    min-width: auto;
  }
}

.control-slider-container {
  position: relative;
  width: 100%;
}

.track-slider-container {
  margin-left: 8px;
  margin-right: 8px;

  @include breakpoint-small {
    margin-left: 0;
    margin-right: 0;
  }
}

.control-slider {
  display: flex;
  align-items: center;
  height: 20px;
  touch-action: none;

  &.visible {
    cursor: pointer;

    &:hover, &:active {
      & + .slider-label, .slider-thumb {
        display: block;
      }
    }

    &:active .slider-thumb {
      background-color: $color-text-dark;
    }
  }

  &.focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px $color-accent;
  }
}

.slider-inner {
  overflow: hidden;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $background-color-darkest;
}

.slider-elapsed {
  height: 100%;
  background-color: $color-accent;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

.slider-thumb {
  position: absolute;
  top: 50%;
  display: none;
  width: 12px;
  height: 12px;
  border: 3px solid $color-text;
  border-radius: 50%;
  background-color: $color-text;
  transform: translate(-50%, -50%);
  will-change: left;
}

.slider-label {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 28px;
  display: none;
  min-width: 40px;
  padding: 6px 10px;
  border-radius: 2px;
  background-color: $background-color-lightest;
  filter: drop-shadow(0 0 1px $color-black-20);
  font-size: 13px;
  text-align: center;
  will-change: left;

  &.visible {
    display: block;
  }

  @include popup-arrow {
    bottom: -4px;
    left: 50%;
    border-top: 4px solid $background-color-lightest;
    transform: translateX(-50%);
  }
}

.control-btn-label {
  z-index: 1;
  position: absolute;
  bottom: 32px;
  left: 50%;
  padding: 8px;
  border-radius: 2px;
  background-color: $background-color-lightest;
  filter: drop-shadow(0 0 1px $color-black-20);
  font-size: 13px;
  white-space: nowrap;
  animation-name: control-btn-label-reveal;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.secondary-controls-left {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: center;
  justify-self: flex-end;

  @include breakpoint-small {
    grid-row: 3 / 4;
  }
}

.secondary-controls-right {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  align-self: center;
  justify-self: flex-start;

  .control-queue-btn {
    display: none;
  }

  @include breakpoint-small {
    display: flex;
    grid-row: 3 / 4;

    .control-queue-btn {
      display: flex;
    }
  }
}

.control-btn {
  position: relative;
  display: block;

  &.active::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    display: block;
    width: 4px;
    height: 4px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: $color-accent;
  }

  .checkbox {
    background-color: transparent;
  }
}

.additional-controls {
  --offset: 8px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-row: 1 / 3;
  grid-column: 5 / 6;

  @include breakpoint-small {
    position: absolute;
    bottom: calc(var(--controls-height) + var(--offset));
    left: 8px;
    right: 8px;
    display: none;
    max-width: 400px;
    padding: 8px 16px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: $background-color-light;

    &.visible {
      display: flex;
    }

    .control-queue-btn {
      display: none;
    }
  }
}

.volume-slider-container {
  width: 100px;

  @include breakpoint-small {
    width: 100%;
  }
}

.control-queue-btn {
  margin-right: 8px;

  @include breakpoint-small {
    margin-right: 0;
    margin-left: 16px;
  }
}

.mute-btn {
  margin-right: 8px;
}

.volume-toggle-btn {
  display: none;
  grid-row: 1 / 2;
  grid-column: 5 / 6;
  justify-self: flex-end;
  align-self: center;

  @include breakpoint-small {
    display: flex;
  }
}

.control-action {
  --offset-top: 40px;
  --text-height: 36px;

  z-index: 5;
  position: absolute;
  top: calc(50% - var(--offset-top));
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  pointer-events: none;

  &.artwork-visible {
     --offset-top: 78px;

    @include breakpoint-small {
      --offset-top: 90px;
    }
  }

  &.youtube-player-visible {
     --offset-top: calc(var(--controls-height) / 2);
  }

  &.text-visible {
    --text-spacing: 128px;
    --offset: calc((var(--text-spacing) + var(--text-height)) / 2);

    transform: translate(-50%, calc(-50% - var(--offset)));

    .control-action-text {
      margin-bottom: var(--text-spacing);
    }

    @include breakpoint-small {
      --text-spacing: 64px;
      --text-height: 32px;
    }

    @include breakpoint-small-landscape {
      transform: translate(-50%, -50%);

      .control-action-text {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        transform: translateY(calc(100% + 16px));
      }
    }
  }
}

.control-action-icon {
  opacity: 1;
  width: 80px;
  height: 80px;
  padding: 16px;
  border-radius: 50%;
  background-color: $color-black-40;
  transform: scale(0.4);
  pointer-events: none;
  animation-name: scale-icon-up;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;

  @include breakpoint-small {
    width: 64px;
    height: 64px;
  }
}

.control-action-text {
  visibility: visible;
  height: var(--text-height);
  padding: 8px 16px;
  border-radius: 8px;
  background-color: $color-black-40;
  font-size: 20px;
  line-height: 1;
  animation-name: delayed-hide;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

  @include breakpoint-small {
    font-size: 16px;
  }
}

.queue {
  z-index: 5;
  overflow: hidden;
  position: absolute;
  bottom: calc(var(--controls-height) + 8px);
  right: 8px;
  display: none;
  flex-direction: column;
  max-width: 360px;
  width: 100%;
  max-height: calc(100% - var(--controls-height) - 56px);
  height: 640px;
  padding: 8px 0 0 0;

  &.visible {
    display: flex;
  }

  @include breakpoint-smallest {
    max-width: calc(100% - 16px);
  }
}

.queue-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 8px 16px;
  border-bottom: 1px solid $background-color;
}

.queue-header-title {
  font-size: 18px;
}

.queue-clear-btn {
  padding: 8px 16px;
  border-radius: 999px;
  background-color: $background-color;
}

.queue-section {
  padding-top: 16px;
  padding-left: 8px;
}

.queue-section-title {
  padding-bottom: 8px;
  font-weight: bold;
}

.queue-tracks-container {
  display: none;

  &.visible {
    display: block;
  }
}

.queue-tracks {
  overflow-y: auto;

  &::-webkit-scrollbar-thumb {
    background-color: $background-color;
  }
}

.queue-track {
  &:hover {
    &.removable {
      .grid-item-duration {
        opacity: 0;
      }

      .queue-track-remove-btn {
        opacity: 1;
      }
    }

    .track-play-pause-btn {
      opacity: 1;
    }

    .artwork {
      opacity: 0.4;
    }
  }
}

.queue-track-remove-btn {
  z-index: 1;
  position: absolute;
  right: 12px;

  opacity: 0;

  &:focus-visible {
    opacity: 1;

    & + .grid-item-duration {
      opacity: 0;
    }
  }
}

.queue-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-grow: 1;
  font-size: 16px;

  &.hidden {
    display: none;
  }
}

@keyframes scale-icon-up {
  to {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes delayed-hide {
  to {
    visibility: hidden;
  }
}

@keyframes control-btn-label-reveal {
  from {
    opacity: 0;
    transform: translate(-50%, 4px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
