.list-view-header {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    height: 32px;
    padding: 4px 8px;
    background-color: $background-color-darkest;
    color: $color-text-dark;
    user-select: none;
}

.list-view {
    padding: 4px;
}

.list-item {
    display: flex;
    height: 32px;
    padding: 4px;
    color: $color-text;
    background-color: $background-color-darkest;
    cursor: default;
    user-select: none;

    &:not(:last-of-type) {
        margin-bottom: 1px;

        &:not(.selected) {
            box-shadow: 0 1px 0 0 $background-color-light;
        }
    }
}

.list-item-col {
    @include text-truncate;

    flex: 1 1 25%;
    margin-left: 4px;
    line-height: 1.714;

    &:last-of-type {
        flex: 0 0 70px;
    }
}

.list-item-first-col {
    position: relative;
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
}

.list-item-index {
    color: $color-text-dark;
    font-size: 12px;
}

.list-item-play-pause-btn {
    background-color: inherit;
}
