.manage-tab {
    overflow-y: auto;
    padding: 8px;

    &.active {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
    }
}

.manage-tab-section-title {
    margin-top: 4px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.import-option-container {
    flex: 0 0 40%;
    min-width: 300px;
    margin-bottom: 8px;
}

.import-options,
.pl-entries {
    padding: 2px;
    border: 1px solid $color3;
    background-color: $color1;
}

.option-mask {
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparentize($color1, 0.2);
    font-size: 14px;
    text-align: center;

    img {
        width: 24px;
    }
}

.mask-message {
    margin-left: 6px;
}

.import-option,
.pl-entry {
    padding: 2px;
    border-bottom: 1px solid $color3;

    &:last-of-type {
        border-bottom: none;
    }
}

.import-option {
    position: relative;
}

.import-option-btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2px;
}

.import-option-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.import-option-btns {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    padding: 2px;
}

.google-sign-in-or-out-btn {
    position: relative;

    &:disabled {
        color: transparentize($base-text-color, 0.6);

        img {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }
}

.info-panel-container {
    position: relative;
    margin-left: 4px;
}

.import-info-btn {
    color: $alt-text-color;
}

.info-panel {
    top: 30px;
    left: 0;
    width: 320px;

    @include popup-arrow {
        top: -4px;
        left: 8px;
        border-bottom: 4px solid $color1;
        filter: drop-shadow(0 -1px 1px $color2);
    }
}

.info-panel-title {
    margin-top: 0;
    margin-bottom: 4px;
}

.info-panel-content-item {
    font-size: 14px;

    &:not(:last-of-type) {
        margin-bottom: 2px;
    }
}

.import-form {
    display: flex;
    flex-grow: 1;
    margin-top: 4px;

    input {
        flex-grow: 1;
        width: 50%;
        margin-right: 2px;
        background-color: $color2;
    }

    & + .import-option-btns {
        display: flex;
    }
}

.file-picker {
    display: none;
}

.pl-entry-container {
    flex-grow: 1;
    margin-left: 8px;
}

.pl-entry {
    display: flex;
}

.pl-entry-form {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        background-color: $color2;
    }
}

.pl-entry-title {
    flex-grow: 1;

    &:read-only {
        background-color: transparent;
    }
}

.pl-entry-btn {
    margin-left: 2px;

    &:disabled {
        color: transparentize($base-text-color, 0.6);
        cursor: default;
    }
}

@media (max-width: 840px) {
    .manage-tab.active {
        justify-content: center;
    }

    .import-option-container,
    .pl-entry-container {
        flex-basis: 100%;
        max-width: 500px;
    }

    .pl-entry-container {
        margin-left: 0;
    }

    .info-panel {
        right: 0;
        left: auto;

        &::before {
            left: auto;
            right: 8px;
        }
    }
}
