.sort-panel-container {
    user-select: none;
    position: relative;
    display: flex;
    width: 124px;
    box-shadow: 0 0 0 1px $color2;
    background-color: $color1;
}

.sort-panel-toggle-btn {
    flex-grow: 1;
    border-right: 1px solid $color2;
}

.sort-panel {
    top: 28px;
    left: 0;
    right: 0;
    padding: 0;
}

.sort-option-btn {
    width: 100%;
    padding: 8px 6px;

    &:hover {
        background-color: $color3;
        color: $base-text-color;

        &.active {
            color: $brand-color;
        }
    }
}
