.playlist-view {
    padding: 4px;
}

.track {
    &:hover, &:focus-within, &.playing {
        .list-item-index {
            opacity: 0;
        }

        .track-play-pause-btn {
            display: flex;
        }

        .artwork {
            opacity: 0.4;
        }
    }

    &:hover, &:focus-within {
        background-color: $background-color-dark;
    }

    &.playing {
        color: $color-accent;
    }

    &.hidden {
        display: none;
    }

    &.selected {
        background-color: $background-color-light;
     }
 }

.track-play-pause-btn {
    @include center-absolutely;

    display: none;
    border: 2px solid currentColor;
    border-radius: 50%;
    color: inherit;
 }

.selection-area {
    z-index: 1;
    position: absolute;
    border: 1px solid $color-accent;
    background-color: transparentize($color-accent, 0.8);
    will-change: top, left, width, height;

    & ~ .playlist-view .track:hover {
        &:not(.selected) {
            background-color: transparent;
        }

        &:not(.playing) {
            .track-play-pause-btn {
                display: none;
            }

            .list-item-index, .artwork {
                opacity: 1;
            }
        }
    }
}

.playlist-message {
    @include center-absolutely;

    min-width: 300px;
    margin: 0;
    font-size: 28px;
    text-align: center;
}
