.track {
    &:hover, &:focus-within, &.playing {
        .track-play-pause-btn {
            display: flex;
        }
    }

    &:hover, &:focus-within {
        background-color: $background-color-dark;
    }

    &.playing {
        color: $color-accent;
    }

    &.hidden {
        display: none;
    }

    &.selected {
        background-color: $background-color-light;

        &:hover {
            background-color: $background-color-light;
        }
     }
 }

.track-play-pause-btn {
    @include center-absolutely;

    display: none;
    border: 2px solid currentColor;
    border-radius: 50%;
    color: inherit;
 }

.selected-area {
    z-index: 1;
    position: absolute;
    border: 1px solid $color-accent;
    background-color: transparentize($color-accent, 0.8);

    & ~ .playlist-view .track:not(.playing):hover  {
        .track-play-pause-btn {
            display: none;

        }
    }
}

.playlist-message {
    @include center-absolutely;

    min-width: 300px;
    margin: 0;
    font-size: 28px;
    text-align: center;
}
