.grid-view {
    --items-per-row: 1;

    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(var(--items-per-row), 1fr);

    @media (min-width: 782px) {
        --items-per-row: 2;
    }

    @media (min-width: 1086px) {
        --items-per-row: 3;
    }

    @media (min-width: 1390px) {
        --items-per-row: 4;
    }

    @media (min-width: 1694px) {
        --items-per-row: 5;
    }
}

.grid-item {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 68px;
    user-select: none;
}

.grid-item-first-col {
    position: absolute;
    left: 0;
    width: 60px;
    height: 100%;
}

.grid-item-duration {
    margin-right: 4px;
    margin-left: 8px;
    color: $color-text-dark;
    font-size: 13px;
}
