.import-settings-container {
    position: relative;
}

.import-settings-btn {
    color: $color-text-transparent;

    &:hover {
        color: $color-text;
    }
}

.import-settings-panel {
    right: 0;
    width: 260px;
}

.import-setting {
    display: flex;

    &:not(:last-of-type) {
        margin-bottom: 8px;
    }
}

.import-setting-label {
    margin-left: 8px;
}

.import-option-container {
    max-width: 380px;
    margin-right: 16px;

    @include home-tab-breakpoint {
        max-width: 500px;
        margin-right: 0;
        margin-bottom: 16px;
    }
}

.import-option-local {
    display: flex;

    .import-option-btn:first-of-type {
        border-right: $border-light;
    }
}

.import-option-youtube {
    position: relative;
}

.import-option-btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 8px;

    &:not(:disabled):hover {
        background-color: $background-color-light;
        color: $color-text;

        &.active {
            color: $color-accent;
        }
    }

    &:disabled {
        @include spinner {
            margin-left: 8px;
        }
    }
}

.import-option-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.import-option-btns {
    position: absolute;
    top: 12px;
    right: 8px;
    display: none;

    .btn-icon {
        color: $color-text-transparent;

        &:not(:disabled):hover {
            color: $color-text;
        }
    }
}

.google-btn {
    font-size: 13px;

    &:disabled {
        position: relative;

        @include spinner {
            @include center-absolutely;
        };
    }
}

.info-panel-container {
    position: relative;
    margin-left: 8px;
}

.import-info-btn {
    display: block;
}

.info-panel {
    top: 24px;
    right: 0;
    width: 284px;
}

.info-panel-content-item:not(:last-of-type) {
    margin-bottom: 2px;
}

.import-form {
    display: flex;
    flex-grow: 1;
    margin: 8px 8px 0 8px;
    box-shadow: $box-shadow-light;

    .input {
        flex-grow: 1;
        width: 50%;
        background-color: $background-color-dark;
    }

    & + .import-option-btns {
        display: flex;
    }
}

.file-picker {
    display: none;
}

.import-progress {
    overflow: hidden;
    padding: 0 8px;
    animation-name: expand-import-progress, reveal;
    animation-delay: 0s, 0.2s;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

.import-progress-bar {
    position: relative;
    height: 18px;
    padding: 2px;
    background-color: $background-color-lightest;
}

.import-progress-label {
    @include text-truncate;

    margin: 8px 4px;
}

.import-progress-bar-inner {
    height: 100%;
    background-color: $color-accent;
    transform-origin: left;
    transition: transform 0.1s;
    will-change: transform;
}

.import-progress-bar-label {
    @include center-absolutely;

    font-size: 13px;
    font-weight: bold;
    color: $background-color-darkest;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes expand-import-progress {
    from {
        height: 0;
    }
    to {
        height: 50px;
    }
}
