.list-view-header,
.list-item {
    display: grid;
    grid-template-columns: 40px repeat(3, 1fr) 62px;
    align-items: center;
    height: 33px;
}

.list-view-header {
    z-index: 1;
    position: sticky;
    top: 0;
    padding-left: 4px;
    padding-right: 4px;
    background-color: $background-color-darkest;
    color: $color-text-transparent;
    user-select: none;
}

.list-item:not(:last-of-type) {
    border-bottom: 1px solid $background-color-light;
}

.list-item-first-col {
    position: relative;
    text-align: center;

    .track-play-pause-btn {
        border-width: 1px;
    }
}

.list-item-index {
    color: $color-text-transparent;
    font-size: 13px;
}

.list-item-col {
    padding: 2px 0;
    margin-right: 8px;
}

.list-item-last-col {
    text-align: center;
}
