.player-controls {
    z-index: 3;
    position: relative;
    display: grid;
    grid-column: span 2;
    grid-template-columns: 28% 1fr 1fr 28%;
    grid-template-rows: repeat(3, 1fr);
    padding: 8px;
    user-select: none;
    background-color: $background-color-light;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    color: $color-text;

    @include breakpoint-small {
        padding-bottom: 4px;
    }
}

.main-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    margin-top: auto;
}

.main-control-btn {
    svg {
        width: 32px;
        height: 32px;
    }
}

.play-pause-btn {
    position: relative;
    margin-right: 8px;
    margin-left: 8px;

    svg {
        width: 40px;
        height: 40px;
    }

    &.show-spinner {
        @include spinner {
            @include center-absolutely;

            width: 100%;
            height: 100%;
        }
    }
}

.track-slider-panel {
    display: flex;
    align-items: center;
    grid-row-start: 1;
    grid-column: 2 / 4;

    @include breakpoint-small {
        grid-row-start: 2;
        grid-column: 1 / 5;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 4px;
    }
}

.track-time {
    flex-shrink: 0;
    min-width: 32px;
    font-size: 13px;

    &:first-of-type {
        text-align: right;
    }

    @include breakpoint-small {
        order: 1;
        min-width: auto;
    }
}

.control-slider-container {
    position: relative;
    width: 100%;
}

.track-slider-container {
    margin-left: 8px;
    margin-right: 8px;

    @include breakpoint-small {
        margin-left: 0;
        margin-right: 0;
    }
}

.control-slider {
    display: flex;
    align-items: center;
    height: 20px;

    &.visible {
        cursor: pointer;

        &:hover, &:active {
            & + .slider-label, .slider-thumb {
                display: block;
            }
        }

        &:active .slider-thumb {
            background-color: $color-text-dark;
        }
    }
}

.slider-inner {
    width: 100%;
    height: 4px;
    background-color: $background-color-darkest;
}

.slider-elapsed {
    height: 100%;
    background-color: $color-accent;
    transform: scaleX(0);
    transform-origin: left;
    will-change: transform;
}

.slider-thumb {
    position: absolute;
    top: 50%;
    display: none;
    width: 12px;
    height: 12px;
    border: 3px solid $color-text;
    border-radius: 50%;
    background-color: $color-text;
    transform: translate(-50%, -50%);
    will-change: left;
}

.slider-label {
    left: 0;
    bottom: 28px;
    display: none;
    min-width: 40px;
    padding: 4px 8px;
    font-size: 13px;
    text-align: center;
    transform: translateX(-50%);
    will-change: left;

    @include popup-arrow {
        bottom: -4px;
        left: 50%;
        border-top: 4px solid $background-color-lightest;
        transform: translateX(-50%);
    }
}

.controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-row-start: 2;
    grid-column-start: 4;

    @include breakpoint-small {
        grid-row-start: 1;
    }

    @include breakpoint-smallest {
        position: absolute;
        top: -28px;
        right: 4px;
        display: none;
        padding: 4px;
        background-color: $background-color-lightest;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);

        &.visible {
            display: flex;
        }
    }
}

.control-btn {
    margin-right: 4px;
}

.volume-controls {
    display: flex;
    align-items: center;
}

.volume-slider-container {
    width: 100px;
    margin-left: 6px;

    @include breakpoint-smallest {
        margin-right: 4px;
    }
}

.control-toggle-btn {
    display: none;
    grid-row-start: 1;
    grid-column-start: 4;
    justify-self: flex-end;
    align-self: center;

    @include breakpoint-smallest {
        display: flex;
    }
}
