.selection-panel {
  top: 36px;
  width: 240px;
  padding: 8px 0;
}

.selection-panel-section {
  &:not(:last-of-type) {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid $background-color;
  }
}

.selection-panel-title {
  padding: 8px 0 16px 16px;
  margin-bottom: 0;
  border-bottom: 1px solid $background-color;
}

.selection-panel-move-to-list {
  overflow-y: auto;
  max-height: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid $background-color;

  &::-webkit-scrollbar-thumb {
    background: $background-color-dark;
  }
}

.selection-panel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 16px;

  &:hover {
    background-color: $background-color-light;
    color: $color-text;
  }
}

.selection-panel-move-to-list-item-btn {
  @include text-truncate;

  justify-content: flex-start;
  font-weight: normal;
}

.selection-panel-move-to-form {
  display: flex;
  padding: 2px 0;
  margin-left: 8px;
  margin-right: 8px;

  .input {
    flex-grow: 1;
    min-width: 0;
    margin-right: 8px;
  }
}
