.sidebar-container {
    float: left;
    height: 100%;

    @include breakpoint-small {
        z-index: 2;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        backdrop-filter: blur(2px);
        background-color: transparentize($color2, 0.4);

        &.contracted {
            height: 40px;

            &.hidden {
                display: none;
            }

            &:not(.hidden) + .main {
                height: calc(100% - 44px);
            }

            .sidebar {
                flex-direction: row;
                width: 100%;
                background-color: $color2;
            }

            .sidebar-header {
                display: none;
            }

            .sidebar-nav {
                display: none;
            }
        }
    }
}

.sidebar {
    user-select: none;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    padding-right: 2px;
    background-color: $color1;
}

.sidebar-header {
    height: 80px;
    background-image: url("./assets/images/main-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $color2;
    text-indent: -9999px;
}

.main-title {
    margin-top: 0;
    margin-bottom: 0;
    color: $base-text-color;
    font-size: 24px;
    cursor: default;
}

.sidebar-nav {
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-btn-container {
    padding: 4px;
    margin-top: 2px;
    background-color: $color2;
}

.sidebar-form {
    display: flex;
    padding-top: 4px;
    border-top: 1px solid $color1;

    input {
        flex-grow: 1;
        width: 50%;
        margin-right: 2px;
    }
}

.sidebar-entries {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0 4px 4px 4px;
    margin-top: 2px;
    background-color: $color2;

    li {
        margin-top: 4px;
    }
}

.sidebar-btn {
    @include text-truncate;

    position: relative;
    display: block;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;

    &.active {
        color: $base-text-color;

        &:hover {
            color: $brand-color;
        }

        .active-playlist-icon {
            box-shadow: -2px 0 8px 5px $color1;
        }
    }
}

.active-playlist-icon {
    position: absolute;
    top: 50%;
    right: 2px;
    width: 20px;
    height: 20px;
    background-color: inherit;
    box-shadow: -2px 0 8px 5px $color2;
    fill: $base-text-color;
    transform: translateY(-50%);
    transition: 0.1s box-shadow;
}
