.sidebar-container {
    @include breakpoint-small {
        z-index: 3;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 108px);
        background-color: $background-color-dark-80;
        transition: 0.1s opacity, 0.1s visibility;

        &.hidden {
            opacity: 0;
            visibility: hidden;
            transition-delay: 0.1s;

            .sidebar {
                transform: translateX(calc(-100% - 10px));
            }
        }
    }
}

.sidebar {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color: $background-color-dark;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.1);
    user-select: none;

    @include breakpoint-small {
        transform: translateX(0);
        transition: 0.2s transform;
    }
}

.sidebar-header {
    position: relative;
    flex-shrink: 0;
    height: 80px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-image: url("./assets/images/main-icon.png");
    background-size: contain;
    background-repeat: no-repeat;

    h1 {
        text-indent: -9999px;
    }
}

.online-status {
    position: absolute;
    top: 12px;
    right: 16px;
    display: none;
    color: $color-text-transparent;
    font-style: italic;
    font-size: 13px;

    &.visible {
        display: block;
    }
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidebar-section-title {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 8px;
    border-top: $border-light;
    color: $color-text-transparent;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;
}

.sidebar-form-container {
    @include center-vertically;

    z-index: 3;
    right: 8px;
}

.sidebar-form-toggle-btn {
    display: block;
}

.sidebar-form-panel {
    top: 24px;
    left: calc(100% - 32px);
}

.sidebar-form {
    display: flex;
}

.sidebar-entries {
    overflow-y: auto;
    flex-grow: 1;
}

.sidebar-entry {
    position: relative;
    background-color: $background-color-dark;
    color: $color-text;
    transition: background-color 0.1s;

    &.active {
        color: $color-accent;
    }

    &:hover {
        background-color: $background-color-light;

        .active-playlist-icon {
            box-shadow: -2px 0 4px 2px $background-color-light;
        }
    }

    &.show-spinner {
        @include spinner {
            @include center-vertically;

            right: 5px;
            width: 26px;
            height: 26px;
        }
    }
}

.sidebar-link {
    @include text-truncate;

    z-index: 2;
    position: relative;
    display: block;
    padding: 12px 8px;
    color: inherit;
    text-align: center;
}

.sidebar-home-link {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 8px;

    svg {
        margin-right: 4px;
    }
}

.active-playlist-icon {
    @include center-vertically;

    right: 8px;
    box-shadow: -2px 0 4px 2px $background-color-dark;
    background-color: inherit;
    fill: $color-text;
    transition: box-shadow 0.1s;
}
