.tab-header {
    z-index: 3;
    position: absolute;
    display: none;
    padding: 8px;

    @include breakpoint-small {
        display: block;
    }
}

.tab-container {
    display: none;
    height: 100%;

    &.active {
        display: block;
    }
}

.tab {
    backface-visibility: hidden;
    position: relative;
    display: none;
    height: 100%;
    color: $color-text;
    overflow-y: auto;

    &.active {
        display: block;
    }
}

.playlist-tab {
    height: calc(100% - 40px);
}

.playlist-tab-header {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    background-color: $background-color-dark;
    box-shadow: 5px 1px 4px rgba(0, 0, 0, 0.1);

    @include breakpoint-smallest {
        padding-left: 40px;
    }
}

.playlist-tab-header-item {
    margin-right: 8px;
    padding-right: 8px;
    border-right: $border-light;

    @include breakpoint-smallest {
        margin-right: 4px;
        padding-right: 4px;
        border-right: none;
    }
}

.filter-input-container {
    position: relative;

    @include breakpoint-smallest {
        width: 100%;
    }
}

.filter-input-icon {
    @include center-vertically;

    left: 4px;
    fill: $color-text-dark;
}

.filter-input {
    user-select: none;
    width: 80px;
    padding-left: 26px;
    transition: 0.2s width;
    box-shadow: $box-shadow-light;
    will-change: width;

    &.active {
        width: 180px;

        @include breakpoint-smallest {
            width: 100%;
        }
    }
    @include breakpoint-smallest {
        width: 100%;
    }
}

.clear-input-btn {
    @include center-vertically;

    right: 10px;
    display: none;
    padding: 0;
    background-color: $background-color-darkest;

    &.visible {
        display: flex;
    }
}

.playlist-type-btns {
    display: flex;

    @include breakpoint-smallest {
        display: none;
    }
}

.list-type-btn {
    margin-right: 4px;
}

.tab-title {
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
