.tabs {
    overflow: hidden;
    float: right;
    width: calc(100% - 200px);
    height: calc(100% - 80px);

    @include breakpoint-small {
        width: 100%;
        height: calc(100% - 108px);
    }
}

.tab-header {
    z-index: 2;
    position: relative;
    display: none;
    align-items: center;
    height: 40px;
    padding: 8px;

    &.playlist-tab-active {
        display: flex;
        background-color: $background-color-dark;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

        .playlist-tab-header-items {
            display: flex;
        }
    }

    @include breakpoint-small {
        display: flex;
        background-color: $background-color-dark;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }
}

.sidebar-show-btn {
    display: none;

    @include breakpoint-small {
        display: block;
    }

    @include breakpoint-smallest  {
        margin-right: 8px;
    }
}

.playlist-tab-header-items {
    display: none;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin-left: auto;
}

.playlist-tab-header-item {
    margin-right: 8px;
    padding-right: 8px;
    border-right: $border-light;

    @include breakpoint-smallest {
        margin-right: 4px;
        padding-right: 4px;
        border-right: none;
    }
}

.filter-input-container {
    position: relative;

    @include breakpoint-smallest {
        width: 100%;
    }
}

.filter-input-icon {
    @include center-vertically;

    left: 4px;
    fill: $color-text-transparent;
    pointer-events: none;
}

.filter-input {
    user-select: none;
    width: 80px;
    padding-left: 26px;
    transition: 0.2s width;
    box-shadow: $box-shadow-light;
    will-change: width;

    &.active {
        width: 180px;

        @include breakpoint-smallest {
            width: 100%;
        }
    }
    @include breakpoint-smallest {
        width: 100%;
    }
}

.clear-input-btn {
    @include center-vertically;

    right: 10px;
    display: none;
    background-color: $background-color-darkest;

    &.visible {
        display: block;
    }
}

.playlist-type-btns {
    display: flex;
    align-items: center;

    @include breakpoint-smallest {
        display: none;
    }
}

.list-type-btn {
    margin-right: 4px;
}

.tab {
    backface-visibility: hidden;
    position: relative;
    display: none;
    height: calc(100% - 40px);
    color: $color-text;
    overflow-y: auto;

    &.active {
        display: block;
        will-change: scroll-position;
    }
}

.tab-title {
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.tab-not-found-title {
    @include center-absolutely;
}
