$color-accent: #5BC0EB;

$color-text: #f4f4f4;
$color-text-dark: #a2a2a2;
$color-text-transparent: transparentize($color-text, 0.4);

$font-family: sans-serif;

$background-color-lightest: #494e5a;
$background-color-light: #404552;
$background-color-dark: #353945;
$background-color-darkest: #2f343f;
$background-color-dark-80: transparentize($background-color-dark, 0.2);

$border-light: 1px solid $background-color-light;
$box-shadow-light: 0 0 0 1px $background-color-light;
