$font-family: "Open sans", sans-serif;

$color-white-20: rgba(255, 255, 255, 0.2);

$color-black-20: rgba(0, 0, 0, 0.2);
$color-black-10: rgba(0, 0, 0, 0.1);

$color-accent: #5BC0EB;

$color-text: #f4f4f4;
$color-text-dark:#9196a1;
$color-text-darker:#656c7b;

$color-danger: #f4483b;

$background-color-lightest: #494e5a;
$background-color-light: #404552;
$background-color: #3a3e4b;
$background-color-dark: #353945;
$background-color-darkest: #2f343f;
$background-color-dark-80: transparentize($background-color-dark, 0.2);
